<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    {% extends '../../layout.html' %}
    {% block content %}
    <div class="starter-template-fluid">
          <center><h3>Project {{ handler.session['current_project'] }}</h3></center>
          <center><p class="lead">What have been programmed is :</p><br></center>

          <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/alerts/create/new" method="post">
          <p>
          <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#createalert" aria-expanded="false" aria-controls="createalert">
            Create alert
          </button>
          <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#contentlookup" aria-expanded="false" aria-controls="contentlookup">
            Content lookup
          </button>
          </p>
          <div class="collapse" id="createalert">
            <div class="card card-body">
              <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" name="inputName">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputContent">Content</label>
                    <select id="inputContent" class="form-control" name="inputContent">
                      {% for json_content in contents %}
                      <option>{{ escape(str(json_content['name'])) }}({{ escape(str(len(json_content['links']))) }} links)</option>
                      {% end %}
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputType">Type</label>
                    <select id="inputType" class="form-control" name="inputType">
                      <option selected>Live</option>
                      <option>Deffered</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputStartTime" class="form-group col-md-4">Start time</label>
                      <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="inputStartTime" name="inputStartTime"/>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputRepeat">Repeat</label>
                    <select id="inputRepeat" class="form-control" name="inputRepeat">
                      <option selected>hour</option>
                      <option>day</option>
                      <option>month</option>
                      <option>year</option>
                    </select>
                  </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  
                  <label class="form-check-label" for="gridCheck">
                    <input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck">
                    notify new files available
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-dark">Create</button>
            </div>
          </div>
          <div class="collapse" id="contentlookup">
            <div class="card card-body">
              {% for content in contents %}
                <details>
                <summary>{{ escape(str(content['name'])) }}</summary>
                {% for link in content['links'] %}
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ escape(link) }}</br>
                {% end %}
                </details>
              {% end %}
            </div>
          </div>
          </form>
          <br>
          <table class="table table-responsive-sm table-striped">
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Creation Date</th>
                    <th>Start Time</th>
                    <th>Repeat</th>
                    <th>Notify</th>
                    <th>Content Name</th>
                    <th>Action</th>
                  </tr>
                  {% for uid, details in handler.session['units'].items() %}
                  <tr>
                    {% for alert in alerts %}
                      {% for k, v in alert.items() %}
                        {% if k != 'id' %}
                          <th>{{ escape(str(v)) }}</th>
                        {% end %}
                      {% end %}
                      {% if alert['alert_type'] == 'Live' %}
                        <th><form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alerts/{{ escape(alert['id']) }}/live" method="get" class="form-horizontal"><button type="submit" class="btn btn-dark" value="">Start</button></input></form></th>
                        </tr>
                      {% else %}
                        <th><form class="form-horizontal"><a class="btn btn-outline-dark disabled" value="">Start</a></input></form></th>
                        </tr>
                      {% end %}
                    {% end %}
                  {% end %}
            </table>
    </div>
    {% end %}
</html>