<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    {% extends '../../layout.html' %}
    {% block content %}
    <div class="starter-template-fluid">
          <center><h3>Project {{ handler.session['current_project'] }} : Live alerts on content change</h3></center>
          {% for tasks in handler.session['tasks']['live_view']  %}
            <center><p class="lead" id="currentState{{ escape(str(tasks['id'])) }}"></p></center>
            <center><p class="lead" id="currentCheck{{ escape(str(tasks['id'])) }}"></p></center>
            <div id="changedContent{{ escape(str(tasks['id'])) }}"></div>
          {% end %}
    </div>
    <script>
    var ws = new WebSocket("ws://localhost:5567/websocket");
    function timeout() {
        setTimeout(function () {
            ws.onopen()
            timeout();
        }, 1000);
    }
    ws.onopen = function() {
      
      {% for tasks in handler.session['tasks']['live_view'] %}
          ws.send('{{ escape(str(tasks['id'])) }}');
      {% end %}


    };
    function updateTitleState (data) {
      document.getElementById('currentState' + data.task_id).innerHTML = "<mark>" + data.state + "</mark>";
      if (data.state != 'SUCCESS') {
        document.getElementById('currentCheck' + data.task_id).innerHTML = data.status.url;
      }
      else {
        document.getElementById('currentCheck' + data.task_id).innerHTML = "<font color='red'>Differences found : " + data.result + "</font>";
      }
    }

    ws.onmessage = function (evt) {
       if (evt != null) {
           var data = JSON.parse(evt.data);
           updateTitleState(data);
           console.log('data.status = ' + data.state)
           if ((data.status.diff_pos != null && data.status.diff_pos != undefined && data.status.diff_pos.length > 0) || (data.status.diff_neg != null && data.status.diff_neg != undefined && data.status.diff_neg.length > 0)) {
              // console.log('PASS updating task_id = ' + data.task_id)
              if (!document.getElementById(data.status.div)) {
                var title = document.createElement("H5");
                title.innerHTML = data.status.div;
                document.getElementById('changedContent' + data.task_id).append(title);
                var title = document.createElement("DIV");
                title.setAttribute("id", data.status.div);
                document.getElementById('changedContent' + data.task_id).appendChild(title);
              }
              if (data.state == 'PROGRESS' && document.getElementById(data.status.div) && !document.getElementById(data.current.toString() + data.task_id)) {
                document.getElementById(data.status.div).insertAdjacentHTML('beforeend', "<h6><a href=" + data.status.url + " target='_blank'/>" + data.status.url + "</a></h6>");
                var ulTitle = document.createElement("UL");
                ulTitle.setAttribute("id", data.current.toString() + data.task_id);
                document.getElementById(data.status.div).append(ulTitle);
                document.getElementById(data.current.toString() + data.task_id).insertAdjacentHTML('beforeend', "<li>+++ : " + data.status.diff_pos + " (" + data.status.nearest_link_pos + ")" + "</li>");
                document.getElementById(data.current.toString() + data.task_id).insertAdjacentHTML('beforeend', "<li>--- : " + data.status.diff_neg + " (" + data.status.nearest_link_neg + ")" + "</li>");
              }
           }
           else {
            console.log(data);
            updateTitleState(data);
           }
        }
     else {
      console.log('[ERROR] Nothing to consume from websocket.');
     }
    };
    timeout()
    </script>
    {% end %}
    <!-- ws.send("{{ str(escape(task_id)) }}"); //-->
</html>