# virtual environment
ENV/

# jupyter-notebook checkpoints
.ipynb_checkpoints/

# python cache
*.pyc
__pycache__/

# mac useless
.DS_Store

# database cache
*.db
*.rdb

# rabbit-mq
MnesiaCore*

# setup.py cache
develop-eggs/
eggs
parts
*.egg-info
lib
lib64
dist/

# logs folder
logs/

# machine learning model files
*.bin
*.ftz
*.vec

# celery log file
*.twt
queues.txt
q.txt
data
celerybeat.pid
error_log.txt
server.txt
errors.txt
celerybeat.pid
err.txt
.vscode/
*.txt
*.log
celerybeat-schedule

# firefox emulated browser logs
geckodriver.log