# virtual environment
ENV/

# jupyter-notebook checkpoints
.ipynb_checkpoints/

# python cache
*.pyc
__pycache__/

# mac useless
.DS_Store

# database cache
*.db
*.rdb

# rabbit-mq
MnesiaCore*

# setup.py cache
develop-eggs/
eggs
parts
*.egg-info
lib
lib64
dist/

# logs folder
logs/