amqp==5.2.0
async-timeout==4.0.3
beautifulsoup4==4.12.3
billiard==4.2.0
bs4==0.0.2
celery==5.3.6
celery-redbeat==2.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Cython==3.0.8
dnspython==2.5.0
et-xmlfile==1.1.0
eventlet==0.35.0
greenlet==3.0.3
kombu==5.3.5
lxml==5.1.0
numpy==1.26.3
openpyxl==3.1.2
pandas==2.2.0
pdfminer==20191125
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycld2==0.42
pycryptodome==3.20.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyVirtualDisplay==3.0
redis==5.1.0b3
requests==2.31.0
selenium==4.17.2
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.25
tenacity==8.2.3
tldextract==5.1.1
tornado==6.4
tracker==0.0
tzdata==2023.4
ujson==5.9.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.1
xlrd==2.0.1
XlsxWriter==3.1.9
