<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ static_url('favicon.ico') }}">

        <title>Tracker</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ static_url('dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ static_url('dist/css/bootstrap-switch.css') }}" rel="stylesheet">
        

        <!--
        <script src="{{ static_url('dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('assets/js/vendor/jquery-slim.min.js') }}"></script>
        //-->

        <!-- Custom styles for this template -->
        <link href="{{ static_url('starter-template.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ static_url('loader.css') }}">
        <link rel="stylesheet" href="{{ static_url('custom_tracker.css') }}">

        <script src="{{ static_url('jquery.min.js') }}"></script>
        <script src="{{ static_url('assets/js/vendor/popper.min.js') }}"></script>
        <script src="{{ static_url('dist/js/bootstrap.min.js') }}"></script>
        <!-- <script src="{{ static_url('dist/js/bootstrap-switch.js') }}"></script> -->
        <!-- <script src="{{ static_url('assets/scss/bootstrap-switch.scss') }}"></script> -->

        <!-- utils for Tracker //-->
        <script src="{{ static_url('custom/utils.js') }}"></script>
        
            
    </head>

    <body style="padding-top: 56px;" class="bg-light">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" style="color:#32c4d1; font-weight: 700;" href="{{ reverse_url('home') }}">TRACKER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav mr-auto">
<!--                     <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Session</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{ reverse_url('login') }}">Login</a>
                            <a class="dropdown-item" href="{{ reverse_url('logout') }}" onclick="clearLocalStorage();">Logout</a>
                            {% if hasattr(handler, 'session') and handler.session != {} and 'is_admin' in handler.session and handler.session['is_admin'] is True and handler.session['is_simplified'] is False %}
                                <a class="dropdown-item" href="{{ reverse_url('register') }}">Register</a>
                            {% end %}
                            {% if hasattr(handler, 'session') and 'username' in handler.session %}
                            <a class="dropdown-item" href="{{ reverse_url('update_password') }}">Password</a>
                            {% end %}
                        </div>
                    </li>
                    {% if hasattr(handler, 'session') and 'username' in handler.session %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Watchlists</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="/api/v1/users/{{ handler.session['username'] }}/project_create">Create</a>
                            <a class="dropdown-item" href="/api/v1/users/{{ handler.session['username'] }}/projects-manage">Manage</a>
                        </div>
                    </li>
                    {% end %}
                    {% if hasattr(handler, 'session') and handler.session != {} and 'is_admin' in handler.session and handler.session['is_admin'] is True %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{ reverse_url('users_list') }}">DB Users</a>
                            <a class="dropdown-item" href="{{ reverse_url('users_projects') }}">DB Projects</a>
                            {% if 'current_project' in handler.session %}
                                <a class="dropdown-item" href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/tasks/revoke-all">Revoke all tasks</a>
                                <a class="dropdown-item" href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/tasks/delete-all">Delete all queues</a>
                            {% end %}
                        </div>
                    </li>
                    {% end %}
                </ul>
                {% if hasattr(handler, 'session') and 'is_simplified' in handler.session %}
                <form class="form-inline my-2 my-lg-0">
                    <label class="switch">
                    <input type="checkbox" id="switchDetailed" {% if handler.session['is_simplified'] is False %}checked{% end %}>
                    <span class="slider round"></span>
               </label>
               {% end %}
                  <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                  <!-- <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button> -->
                </form>
            </div>
        </nav>
        {% if hasattr(handler, 'session') and 'units' in handler.session and 'current_project' in handler.session %}

        <nav class="navbar navbar-expand-md bg-white box-shadow py-0 custom-toggler" style="padding-top: 15px;">
            <a class="navbar-brand" onmouseover="this.style.color='#343a40'" onmouseout="this.style.color='#343a40'" style="font-size:0.9rem; color: #343a40" href="#">
                <b>
                    {{ handler.session['current_project'].replace('_', ' ') }}
                </b>
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if '/websites-manage' in handler.session['current_page'] %}{% else %}disabled{% end %}" style="font-size:0.9rem{% if '/websites-manage' in handler.session['current_page'] %}; color: #28a8b3; background-color: #343a40 !important;{% else %}{% end %}" href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/websites-manage">Edit Watchlist<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/alerts' in handler.session['current_page'] and not 'live' in handler.session['current_page'] %}{% else %}disabled{% end %}" style="font-size:0.9rem{% if '/alerts' in handler.session['current_page'] and not '/live' in handler.session['current_page'] %}; color: #28a8b3; background-color: #343a40 !important{% else %}{% end %}"  href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/alerts">Manage Alerts<span class="sr-only">(current)</span></a>
                    </li>
                    {% if 'is_simplified' in handler.session and handler.session['is_simplified'] is False %}
                    <li class="nav-item">
                        <a class="nav-link {% if '/crawl' in handler.session['current_page'] %}{% else %}disabled{% end %}" style="font-size:0.9rem{% if '/crawl' in handler.session['current_page'] %}; color: #28a8b3; background-color: #343a40 !important{% else %}{% end %}"  href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/crawl">Crawler<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/download' in handler.session['current_page'] %}{% else %}disabled{% end %}" style="font-size:0.9rem{% if '/download' in handler.session['current_page'] %}; color: #28a8b3; background-color: #343a40 !important{% else %}{% end %}" href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/download">Downloader<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if '/spider' in handler.session['current_page'] %}{% else %}disabled{% end %}" style="font-size:0.9rem{% if '/spider' in handler.session['current_page']%}; color: #28a8b3; background-color: #343a40 !important{% else %}{% end %}"  href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/spider">Spider<span class="sr-only">(current)</span></a>
                    </li>
                    {% end %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'alerts/live/view' in handler.session['current_page'] %}{% else %}disabled{% end %}" style="font-size:0.9rem{% if 'alerts/live/view' in handler.session['current_page'] %}; color: #28a8b3; background-color: #343a40 !important;{% else %}{% end %}" href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/alerts/live/view">Live View<span class="sr-only">(current)</span></a>
                    </li>

<!--                     <li class="nav-item" onmouseover="this.style.color='#28a8b3'" onmouseout="this.style.color=''">
                        <a class="nav-link disabled" style="font-size:0.9rem;" href="#">Data</a>
                    </li>
                    <li class="nav-item" onmouseover="this.style.color='#28a8b3'" onmouseout="this.style.color=''">
                        <a class="nav-link disabled" style="font-size:0.9rem;" href="#">Network</a>
                    </li>
                    <li class="nav-item" onmouseover="this.style.color='#28a8b3'" onmouseout="this.style.color=''">
                        <a class="nav-link disabled" style="font-size:0.9rem;" href="#">Tasks</a>
                    </li> -->
                </ul>
            </div>
        </nav>

        {% end %}
        
        <div id="flashMessage">
            {% if hasattr(handler, 'flash') %}
            <div class="alert alert-{{ handler.flash['type'] }} py-0 mb-0" role="alert">
                {{ handler.flash['message'] }}
            </div>
            {% end %}
        </div>

        {% if hasattr(handler, 'session') %}
            
        {% end %}


        <main role="main" class="container-fluid">
        {% block content %}{% end %}

        </main>



            <script>
              $('.dropdown-item').click(function(){
                 $('<div class="loading">Loading&#8230;</div>').prependTo(document.body);
              });
              $('#switchDetailed').change(function() {
                var mode = $(this).prop('checked');
                $.ajax({
                    type:'POST',
                    url: '/switch-mode',
                    // data: {
                    //     "is_simplified": mode
                    // },
                    success: function(response) {
                        var jsonResp = JSON.parse(response);
                        console.log(jsonResp);
                        document.location.reload();
                    },
                    error: function(xhf) {
                        console.log('An Error occured trying to switch mode');
                    }
                });
              });
            </script>
            {% block script %}{% end %}
    </body>
</html>
