{% extends '../layout.html' %}
{% block content %}
<br />
    <div class="starter-template-fluid">
        <h3>Create a watchlist</h3>
        <p>A watchlist is the list of websites you want to monitor, what to search for, and who must be notified.</p>
<br />
<ul class="nav nav-tabs" id="myTab" role="tablist">
  {% if 'is_simplified' in handler.session and handler.session['is_simplified'] is False %}
  <li class="nav-item">
    <a class="nav-link" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="project" aria-selected="true">From paths</a>
  </li>
  {% end %}
  <li class="nav-item">
    <a class="nav-link active" id="quickproject-tab" data-toggle="tab" href="#quickproject" role="tab" aria-controls="quickproject" aria-selected="false">From file</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="continuoustracking-tab" data-toggle="tab" href="#continuoustracking" role="tab" aria-controls="continuoustracking" aria-selected="false">From scratch</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <br />
  {% if 'is_simplified' in handler.session and handler.session['is_simplified'] is False %}
  <div class="tab-pane fade" id="project" role="tabpanel" aria-labelledby="project-tab">

    <form action="/api/v1/users/{{ handler.session['username'] }}/project_create" method=post>
      <div class="form-group">
        <label for="ProjectName" id="ProjectName">Watchlist Name</label>
        <input type="text" class="form-control col-md-6" name="ProjectName" placeholder="ex: sbb_project" required>
      </div>
      <div class="form-group">
        <label for="ProjectLocation">Location of watchlist</label>
        <input type="text" class="form-control col-md-6" name="ProjectLocation" aria-describedby="ProjectLocation" placeholder="ex: /home/user/documents/project" required>
        <small id="ProjectLocation" class="form-text text-muted">The location must correspond to an empty folder previously created.</small>
      </div>
      <div class="form-group">
        <label for="ConfigLocation">Location of configuration file (optional)</label>
        <input type="text" class="form-control col-md-6" name="ConfigLocation" aria-describedby="ConfigLocation" placeholder="ex: /home/user/documents/config.xlsx">
        <small id="ConfigLocation" class="form-text text-muted">The configuration file must be .xlsx format</small>
      </div>
      <button type="submit" class="btn btn-info" class="btn btn-primary">Create</button>
    </form>

  </div>
  {% end %}

  <div class="tab-pane fade show active" id="quickproject" role="tabpanel" aria-labelledby="quickproject-tab">

    <form action="/api/v1/users/{{ handler.session['username'] }}/quick-project-create" method="post" enctype="multipart/form-data">

      <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" name="file1" required>
          <label class="custom-file-label col-md-6 custom-file-control form-control-file" for="validatedCustomFile">Choose file...</label>

          <small id="ProjectLocation" class="form-text text-muted"><br>The file you upload must be a valid ".xlsx" file. It must have the following columns:<br>
          Name, Website, target, target_label, mailing_list (case sensitive).<br>
          Target must contain the keywords to look at in the monitored pages. They must be separated by ";".<br>
          Mailing lists must contain the email addresses of the recipients to whom a notification must be sent. They must be seprated by a ";"<br>
          The watchlist will bare the name of the .xlsx file. Please do not use space in the excel file.</small>
        </div>


        <br />
        <br />
        <input type="submit" id="longLoad" class="btn btn-info" value="Create" />
    </form>

  </div>

  <div class="tab-pane fade" id="continuoustracking" role="tabpanel" aria-labelledby="continuoustracking-tab">

    <form action="/api/v1/users/{{ handler.session['username'] }}/continuous-tracking-create" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <label for="ProjectName" id="ProjectName">Watchlist name</label>
        <input type="text" class="form-control col-md-6" name="ProjectName" placeholder="Enter watchlist name" required>
      </div>

        <input type="submit" id="longLoad" class="btn btn-info" value="Create" />
    </form>

  </div>

</div>
</div>
{% end %}
{% block script %}
<script>
$('.custom-file-input').on('change',function(){
  var fileName = document.getElementById("validatedCustomFile").files[0].name;
  $(this).next('.form-control-file').addClass("selected").html(fileName);
})
  $('#longLoad').click(function(){
    if (!document.getElementById("validatedCustomFile").files[0]) {
      console.log('Please choose file.');
    }
    else {
   $('<div class="loading">Loading&#8230;</div>').prependTo(document.body);
    }
});
</script>
{% end %}
