<!DOCTYPE html>
<html lang="en">
    <head>
        </head>
        {% extends '../layout.html' %}
        {% block content %}
        <div class="starter-template-fluid">
            <h3>Project creation</h3>
            <p>A project consist of a basic list of websites to monitor, selected by the user.<br>At the moment, projects can only be loaded directly from data path, but user will be soon able to load project from an excel file or directly through the user interface.</p>
        </div>
        <form action="/api/v1/users/{{ handler.session['username'] }}/project_create" method=post>
          <div class="form-group">
            <label for="ProjectName" id="ProjectName">Project Name</label>
            <input type="text" class="form-control" name="ProjectName" placeholder="Enter project name" required>
          </div>
          <div class="form-group">
            <label for="ProjectLocation">Location of project</label>
            <input type="text" class="form-control" name="ProjectLocation" aria-describedby="ProjectLocation" placeholder="ex: /home/user/documents/project" required>
            <small id="ProjectLocation" class="form-text text-muted">The location must correspond to an empty folder previously created.</small>
          </div>
          <div class="form-group">
            <label for="ConfigLocation">Location of configuration file (optional)</label>
            <input type="text" class="form-control" name="ConfigLocation" aria-describedby="ConfigLocation" placeholder="ex: /home/user/documents/config.xlsx">
            <small id="ConfigLocation" class="form-text text-muted">The configuration file must be .xlsx format</small>
          </div>
          <button type="submit" class="btn btn-outline-dark" class="btn btn-primary">Create Project</button>
        </form>
        {% end %}
</html>