{% extends '../layout.html' %}
{% block content %}
<div class="starter-template-fluid">
        <br>
        <h3>Your watchlists</h3>
        {% if len(projects) == 0 %}
        <small class="form-text text-muted"><p>No watchlist configured yet. Create watchlist from Watchlists menu on the navigation bar.<button type="button" class="btn btn-link btn-sm mb-1" data-toggle="modal" data-target="#exampleModal">Tutorial</button></p></small>

        

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">First utilisation tutorial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/aU27aph0wIM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="tellLocalStorageToNotShow()" class="btn btn-primary">Never show again</button>
              </div>
            </div>
          </div>
        </div>

        {% end %}
        <!-- <p>You can here manage the monitoring projects you created. Load any project you want to access further options.</p> -->
        <table class="table table-sm table-hover">
          <thead class="thead-light">
              <tr>
                <th>Watchlist Name</th>
                {% if 'is_simplified' in handler.session and handler.session['is_simplified'] is False %}
                <th>Data Path</th>
                <th>Config Path</th>
                {% end %}
                <th>Creation Date</th>
                {% if 'is_simplified' in handler.session and handler.session['is_simplified'] is False %}
                <th>From DB</th>
                {% end %}
                <th></th>
                <th></th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
              <tr>
              <td style="vertical-align:middle;">{{ escape(project['name']) }}</td>
              {% if 'is_simplified' in handler.session and handler.session['is_simplified'] is False %}
              <td style="vertical-align:middle;">{{ escape(project['data_path'][:5]) }} ... {{ escape(project['data_path'][-5:]) }}</td>
              <td style="vertical-align:middle;">{{ escape(project['config_file']) }}</td>
              {% end %}
              <td style="vertical-align:middle;">{{ escape(project['creation_date'][:-3]) }}</td>
              <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(project['name']) }}" method="post" class="form-horizontal">
              {% if 'is_simplified' in handler.session and handler.session['is_simplified'] is False %}
              <td style="vertical-align:middle;">
                  
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck" name="fromExcel" style="transform: scale(1.5); margin-top:0; position:relative" checked>
                    </div>
                  </div>
              </td>
              {% else %}
              <input class="form-check-input" type="hidden" id="gridCheck" name="fromExcel" value="on" style="transform: scale(1.5); margin-top:0; position:relative" checked>
              {% end %}
              <td style="vertical-align:middle;"><button type="submit" class="btn btn-info btn-sm" id="loadProject" value="">Load</button></form></th>
              <td style="vertical-align:middle;"><button type="button" class="btn btn-danger btn-sm" value="" data-toggle="modal" data-target="#ModalConfirmDelete-{{ escape(project['name']) }}">Delete</button>
              <div class="modal fade" id="ModalConfirmDelete-{{ escape(project['name']) }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-{{ escape(project['name']) }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle-{{ escape(project['name']) }}">Deletion confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(project['name']) }}/delete" method="post" class="form-horizontal">
                    <div class="modal-body">
                      This will completely erase folder on hard drive and all related files.
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="deleteRelatedFilesCheck" name="deleteRelatedFilesCheck">
                        <label class="form-check-label" for="deleteRelatedFilesCheck">
                          Also delete all related files
                        </label>
                      </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" value="" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger">Confirm</button></form>
                    </div>
                  </div>
                </div>
              </div>
              </td>
              <td>
                {% if  project['nb_active_alerts'] != 0 %}
                  {% if project['nb_active_alerts'] > 1 %}
                    <span class="badge badge-dark">{{ project['nb_active_alerts'] }}&nbsp;actives</span>
                  {% else %}
                    <span class="badge badge-dark">{{ project['nb_active_alerts'] }}&nbsp;active</span>
                  {% end %}
                {% else %}
                  -
                {% end %}
              </td>
              </tr>
              {% end %}
            </tbody>
        </table>
</div>
{% end %}
{% block script %}
<script>
  function showTuto()
  {
    $('#exampleModal').modal('toggle');
  }
  function tellLocalStorageToNotShow()
  {
    localStorage.setItem('showTutorial', false);
    $('#exampleModal').modal('hide');
  }
  {% if len(projects) == 0 %}
    let showTutorial = localStorage.getItem('showTutorial');
    console.log(showTutorial);
    if (showTutorial == true || showTutorial == null)
    {
      $('#exampleModal').modal('toggle');
    }
  {% end %}
  $('#loadProject').click(function(){
     $('<div class="loading">Loading&#8230;</div>').prependTo(document.body);
  });
</script>
{% end %}