{% extends '../layout.html' %}
{% block content %}
<div class="starter-template-fluid">
        <br>
        <h3>List of projects recorded for {{ handler.session['username'] }}</h3>
        <p>You can here manage the monitoring projects you created. Load any project you want to access further options.</p>
        <table class="table table-responsive-sm table-striped">
              <tr>
                <th>Project Name</th>
                <th>Data Path</th>
                <th>Config Path</th>
                <th>Creation Date</th>
                <th>From Excel</th>
                <th>Action</th>
                <th></th>
              </tr>
              {% for project in projects %}
              <tr>
              <th>{{ escape(project['name']) }}</th>
              <th>{{ escape(project['data_path'][:5]) }} ... {{ escape(project['data_path'][-5:]) }}</th>
              <th>{{ escape(project['config_file']) }}</th>
              <th>{{ escape(project['creation_date']) }}</th>
              <th>
                  <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(project['name']) }}" method="post" class="form-horizontal">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck" name="fromExcel" style="transform: scale(1.5);">
                    </div>
                  </div>
              </th>
              <th><button type="submit" class="btn btn-outline-info" id="loadProject" value="">Load</button></form></th>
              <th><button type="button" class="btn btn-outline-danger" value="" data-toggle="modal" data-target="#ModalConfirmDelete-{{ escape(project['name']) }}">Delete</button>
              <div class="modal fade" id="ModalConfirmDelete-{{ escape(project['name']) }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle-{{ escape(project['name']) }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle-{{ escape(project['name']) }}">Deletion confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      This will completely erase folder on hard drive and all related files.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" value="" data-dismiss="modal">Close</button>
                      <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(project['name']) }}/delete" method="post" class="form-horizontal"><button type="submit" class="btn btn-danger">Confirm</button></form>
                    </div>
                  </div>
                </div>
              </div>
              </th>
              </tr>
              {% end %}
        </table>
</div>
{% end %}
{% block script %}
<script>
  $('#loadProject').click(function(){
     $('<div class="loading">Loading&#8230;</div>').prependTo(document.body);
  });
</script>
{% end %}