{% extends '../layout.html' %}
{% block content %}
    <div class="starter-template">
    <br>
    <center>
    <form action="" method=post class="form-horizontal">
        
        <h2>Change password</h2>

        <div class="form-group">
            <div class="controls">
                <input type="password" id="old_password" name="old_password" class="form-control col-md-2" placeholder="Enter old password" required>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="password" id="new_password_1" name="new_password_1" class="form-control col-md-2" placeholder="Enter new password" required>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="password" id="new_password_2" name="new_password_2" class="form-control col-md-2" placeholder="Enter again new password" required>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-info">Update</button>
            </div>
        </div>
    </form>
    </center>
    </div>
{% end %}