<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    {% extends '../layout.html' %}
    {% block content %}
    <div class="starter-template-fluid">
          <center><h3>Project {{ handler.session['current_project'] }}</h3></center>
          <center><p class="lead">What have been programmed is :</p><br></center>
          {% for alert in alerts %}
            <br>---
            Name : {{ escape(str(alert['name'])) }}<br>
            Links : 
            {% for link in alert['links'] %}
              <br>{{ escape(link) }}
            {% end %}
          {% end %}
        
          
    </div>
    {% end %}
</html>