<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    {% extends '../layout.html' %}
    {% block content %}
    <!-- Required Stylesheets -->

    <link href="{{ static_url('hummingbird-treeview.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{{ static_url('hummingbird-treeview.js') }}"></script>
    <link href="{{ static_url('font-awesome-4.7.0/css/font-awesome.css') }}" rel="stylesheet">
    <!-- Required Javascript -->








    <script>

     $(document).ready(function() {


         $.fn.hummingbird.defaults.checkDoubles= true;
         $.fn.hummingbird.defaults.collapseAll= true;
         
         {% for uid in handler.session['units'] %}
         //initializing
         $("#treeview{{ escape(uid) }}").hummingbird();
         {% end %}

         //initializing
         //$("#treeview2").hummingbird();


     });    
    $(document).ready(function(){
        $("#get_checked").click(function () {
            var List = {"id" : [], "dataid" : [], "text" : []};
            {% for uid in handler.session['units'] %}
            $("#treeview{{ escape(uid) }}").hummingbird("getChecked",{list:List,onlyEndNodes:true});
            {% end %}
            alert(List['text']);
        });
    });
    </script>

    <input type="button" value="get checked" id="get_checked">

    <div class="starter-template-fluid">
          <center><h3>Project {{ handler.session['current_project'] }}</h3></center>
          <center><p class="lead">Checking diffs in webpages</p><br></center>
        
          <div id="accordion">



          {% for uid, details in handler.session['units'].items() %}
          <div class="card">
            {% for k, v in details.items() %}

                {% if k == 'url' %}
                <!-- title //-->
                <div class="card-header" id="heading{{ escape(uid) }}">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ escape(uid) }}" aria-expanded="true" aria-controls="collapse{{ escape(uid) }}">
                      {{ escape(str(v)) }}
                    </button>
                  </h5>
                </div>
                <!-- corpus //-->
                <div id="collapse{{ escape(uid) }}" class="collapse show" aria-labelledby="heading{{ escape(uid) }}" data-parent="#accordion">
                  <div class="card-body">

                    <ul id="treeview{{ escape(uid) }}">
                    <div class="hummingbird-treeview-converter" data-height="400px" data-scroll="true">
                        {% for _ in formated_units[escape(str(v))] %}
                            <li id="item" data-id="{{ escape(str(_[1])) }}">{{ escape(str(_[0])) }}</li>
                        {% end %}
                    </div>
                    </ul>
                    
                  </div>
                </div>
                {% end %}

            {% end %}
          </div>
          {% end %}
          </div>


    </div>
    {% end %}
</html>