<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    {% extends '../layout.html' %}
    {% block content %}
    <!-- Required Stylesheets -->

    <link href="{{ static_url('hummingbird-treeview.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="{{ static_url('hummingbird-treeview.js') }}"></script>
    <link href="{{ static_url('font-awesome-4.7.0/css/font-awesome.css') }}" rel="stylesheet">
    <!-- Required Javascript -->








    <script>

     $(document).ready(function() {


         $.fn.hummingbird.defaults.checkDoubles= true;
         $.fn.hummingbird.defaults.collapseAll= true;
         
         {% for uid in handler.session['units'] %}
         //initializing
         $("#treeview{{ escape(uid) }}").hummingbird();
         {% end %}

         //initializing
         //$("#treeview2").hummingbird();


     });    
    $(document).ready(function(){
        $("#get_checked").click(function () {
            var List = {"id" : [], "dataid" : [], "text" : []};
            {% for uid in handler.session['units'] %}
            $("#treeview{{ escape(uid) }}").hummingbird("getChecked",{list:List,onlyEndNodes:true});
            {% end %}
            alert(List['text']);
        });
    });
    </script>

    <input type="button" value="get checked" id="get_checked">

    <div class="starter-template-fluid">
          <center><h3>Project {{ handler.session['current_project'] }}</h3></center>
          <center><p class="lead">Checking diffs in webpages</p><br></center>
        
          <div id="accordion">



          {% for uid, details in handler.session['units'].items() %}
          <div class="card">
            {% for k, v in details.items() %}

                {% if k == 'url' %}
                <!-- title //-->
                <div class="card-header" id="heading{{ escape(uid) }}">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ escape(uid) }}" aria-expanded="true" aria-controls="collapse{{ escape(uid) }}">
                      {{ escape(str(v)) }}
                    </button>
                  </h5>
                </div>
                {% elif k == 'arborescence' %}
                <!-- corpus //-->
                <div id="collapse{{ escape(uid) }}" class="collapse show" aria-labelledby="heading{{ escape(uid) }}" data-parent="#accordion">
                  <div class="card-body">

                    <ul id="treeview{{ escape(uid) }}">
                    <div class="hummingbird-treeview-converter" data-height="230px" data-scroll="true">
                        <li id="item_1" data-id="Studio_1">Warner Bros.</li>
                        <li id="item_2" data-id="Movie_1">-Goodfellas</li>
                        <li id="item_3" data-id="Actor_1">--Robert De Niro</li>
                        <li id="item_4" data-id="Actor_2">--Joe Pesci</li>
                        <li id="item_5" data-id="Movie_2">-The Shawshank Redemption</li>
                        <li id="item_6" data-id="Actor_3">--Tim Robbins</li>
                        <li id="item_7" data-id="Actor_4">--Morgan Freeman</li>
                        <li id="item_8" data-id="Studio_2">Paramount</li>
                        <li id="item_9" data-id="Movie_3">-The Untouchables</li>
                        <li id="item_10" data-id="Actor_1">--Robert De Niro</li>
                        <li id="item_11" data-id="Actor_5">--Kevin Costner</li>
                        <li id="item_12" data-id="Movie_4">-Forrest Gump</li>
                        <li id="item_13" data-id="Actor_6">--Tom Hanks</li>
                        <li id="item_14" data-id="Actor_7">--Robin Wright</li>
                    </div>
                    </ul>

                    {% for _ in v %}
                        {{ escape(str(_)) }}
                        <br>
                    {% end %}
                  </div>
                </div>
                {% end %}

            {% end %}
          </div>
          {% end %}
          </div>


    </div>
    {% end %}
</html>