{% extends '../layout.html' %}
{% block content %}
<div class="starter-template-fluid">
      <br>
      <center><h3>List of database users</h3></center><br>

        <table class="table table-responsive-sm table-striped">
              <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Role</th>
                <th>Registration date</th>
                <th>Action</th>
              </tr>
              {% for user in users_json %}
              <tr>
              <th>{{ escape(user['username']) }}</th>
              <th>{{ escape(user['password'][:10]) }} ... {{ escape(user['password'][-10:]) }}</th>
              <th>{{ escape(user['email']) }}</th>
              <th>{{ escape(user['role_id']) }}</th>
              <th>{{ escape(user['registration_date']) }}</th>
              <th><form action="/api/v1/users/{{ escape(user['username']) }}" method=post class="form-horizontal"><button type="submit" class="btn btn-danger" value="">Delete</button></form></th>
              </tr>
              {% end %}
        </table>
        
</div>
{% end %}