{% extends '../layout.html' %}
{% block content %}
<div class="starter-template-fluid">
      <br>
      <center><h3>List of database users</h3></center><br>

        <table class="table table-sm">
          <thead class="thead-light">
              <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Role</th>
                <th>Registration date</th>
                <th>Action</th>
              </tr>
          </thead>
          <tbody>
              {% for user in users_json %}
              <tr>
              <td style="vertical-align:middle;">{{ escape(user['username']) }}</td>
              <td style="vertical-align:middle;">{{ escape(user['password'][:10]) }} ... {{ escape(user['password'][-10:]) }}</td>
              <td style="vertical-align:middle;">{{ escape(user['email']) }}</td>
              <td style="vertical-align:middle;">{{ escape(user['role_id']) }}</td>
              <td style="vertical-align:middle;">{{ escape(user['registration_date']) }}</td>
              <td style="vertical-align:middle;"><form action="/api/v1/users/{{ escape(user['username']) }}" method=post class="form-horizontal"><button type="submit" class="btn btn-danger btn-sm" value="">Delete</button></form></td>
              </tr>
              {% end %}
          </tbody>
        </table>
        
</div>
{% end %}