<!--[if i]><![endif]--><!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="no-js"><!--<![endif]-->
	

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	

	
	





	

<title>Press Releases | TIM Group</title>
 <meta name="description" content="">

 <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
 <meta name="keywords" content="">
 
 <meta property="fb:app_id" content="346354132072416" />
 <meta property="fb:pages" content="198011288410">
 <meta property="twitter:account_id" content="196690048" />
 <meta name="p:domain_verify" content="1fb27657eff9762903e35b8b42eb5350"/>
  
 
   
 	<meta property="og:type"   content="article" />
  
 
 
 <meta property="og:url"    content="https://www.telecomitalia.com/tit/en/press/press-releases-notes-new.html" />
 <meta property="og:title"  content="Press Releases" />
 <meta property="og:image"  content="https://www.telecomitalia.com/etc/designs/ti-rwd/cmn/v4/img/logo-share-tim1.png" />
 <meta property="og:description" content="" />
 <meta property="og:site_name"   content="Telecom Italia Corporate" />
 
 <!-- Twitter Specific Meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@TIMnewsroom">
<meta name="twitter:creator" content="@TIMnewsroom">
<meta name="twitter:title" content="Press Releases">
<meta name="twitter:image:src" content="https://www.telecomitalia.com/etc/designs/ti-rwd/cmn/v4/img/logo-share-tim1.png">
<meta name="twitter:description" content="">	

	

	<link rel="shortcut icon" type="image/x-icon" href="/etc/designs/ti-rwd/cmn/v3/img/favicon2.ico">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/etc/designs/ti-rwd/cmn/v4/css/main.css">
	<link rel="stylesheet" href="/etc/designs/ti-rwd/cmn/v4/css/modules.css">
	<link rel="stylesheet" href="/etc/designs/ti-rwd/css/migration-fix.css" type="text/css" media="screen"> 
	
	
		<link rel="stylesheet" href="/etc/designs/ti-rwd/cmn/v4/css/comunicatistampa.css" type="text/css" media="screen">
	
	
	<!-- //Stylesheets -->

	<!-- Special authoring fix CSS -->
	
	
	
<script type="text/javascript">
var validSections = ['innovazione','ambiente-sociale','cultura'];var sectionsClassesMap ={'innovazione':'violet','ambiente-sociale':'green','cultura':'brown'};
var validLang = ['it','en'];
</script>
<script src="/etc/designs/ti-rwd/cmn/v4/js/lib/vendor/modernizr.js"></script>
<script src="/etc/designs/ti-rwd/cmn/v4/js/lib/vendor/require.js"></script>
<script src="/etc/designs/ti-rwd/cmn/v4/js/lib/vendor/yepnope.js"></script>
<script src="/etc/designs/ti-rwd/cmn/v4/js/lib/vendor/jquery.js"></script>
<script type="text/javascript">
Modernizr.addTest('ie', navigator.appName.indexOf("Internet Explorer") != -1);
</script>

<!--   Linkedin */ -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!--<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>-->

<!--   Google */ -->
<script type="text/javascript">
	window.___gcfg = {lang: 'en'};

	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
</script>

<!--[if lt IE 9]>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		<script type="text/javascript">[].indexOf||(Array.prototype.indexOf=function(a,b,c){for(c=this.length,b=(c+~~b)%c;b<c&&(!(b in this)||this[b]!==a);b++);return b^c?b:-1;})</script>
<![endif]-->

<script>
			// test media queries and load polyfill
			yepnope({
				test: Modernizr.mq('(min-width: 0px)'),
				nope: '/etc/designs/ti-rwd/cmn/v4/js/lib/vendor/respond.js'
			});
</script>
	
		
		   
<script type="text/javascript">
	//GOOGLE ANALYTICS
	var _gaq = _gaq || [];
	var pluginUrl = 
		 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
	_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
	_gaq.push(['_setAccount', 'UA-624156-1']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
<script type="text/javascript">
	//GOOGLE ANALYTICS EXTERNAL LINK
	function recordOutboundLink(link, category, action, opt_label) {
		_gat._getTrackerByName()._trackEvent(category, action, opt_label);
		setTimeout(null, 100);
	}
</script>

		   
			   
		 
		 
			   
		 
		 
			   
		   
		
		
	
</head>
	
<body ng-class="{ie: isIe}" ng-controller="siteCtrl" data-responsejs='{"create": { "breakpoints": [0, 480, 768, 1024, 1290], "mode": "src", "prefix": "src" }}' class="l-article l-press-archive">

<!--[if lt IE 7]>
<script type="text/javascript" src="/etc/designs/ti-rwd/cmn/v3/js/ie6/warning.js"></script>
<![endif]-->
	
    
    



<!-- Contenitore necessario ai like-button facebook. Non spostare -->
	
	<!--[if gte IE 7]><!-->
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js" + "#xfbml=1&appId=346354132072416"; /* App ID 346354132072416 PRODUZIONE*/
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<!--<![endif]-->
	
<!-- //Contenitore necessario ai like-button facebook. Non spostare -->

<div id="root"    ng-class="{'is-slided' : repository.open}">
	<div class="root-wrapper">		  	
	  	<div class="content-height">
	  		<div class="l-main-header">
	  			



<div class="globalHat globalhat_new">

<div class="l-hat">
	
		
	 
							
	
	
		<ul class="hat" >
			
				
							<li id="ti-hat01" class="hat-item is-active" ><a class="hat-link" href="https://www.telecomitalia.com/tit/en.html">TIM Group</a></li>
			    
			
				
							<li id="ti-hat01" class="hat-item" ><a class="hat-link" href="https://www.tim.it/">TIM</a></li>
			    
			
				
							<li id="ti-hat01" class="hat-item" ><a class="hat-link" href="https://www.timbusiness.it/">TIM BUSINESS</a></li>
			    
			
				
							<li id="ti-hat01" class="hat-item" ><a class="hat-link" href="https://www.olivetti.com/en">Olivetti</a></li>
			    
			
				
							<li id="ti-hat01" class="hat-item" ><a class="hat-link" href="https://www.tisparkle.com/">Sparkle</a></li>
			    
			
				
			
				
			
				
			
				
			
				
			
				<li id="hat-item-network" class="hat-item hat-item-last">
					<a href="/tit/en/network.html" title="All the Network" class="hat-link" id="ti-network-button" target="_blank">All the Network<i class="icon icon-chevron-right"></i></a>
				</li>
				
			</ul>
	
	
	

		
</div></div>


		   		




<header class="l-site-header clearfix">
<!-- 	<div class="site-logo"> -->


<!-- 			<span class="tooltip">Homepage</span> -->
<!-- 		</a> -->
<!-- 	</div> -->

<!-- 	<div class="tim-logo"> -->
<!-- 		<a target="_blank" href="http://www.tim.it" title="TIM"> -->


<!-- 		</a> -->
<!-- 	</div> -->

	
			
					<div style="float:left;">
						<a href="/tit/en.html" title="TIM Group">
							<img src="/etc/designs/ti-rwd/cmn/v4/img/layout/logoendorsement_rgb_pp.png" alt="Telecom Italia" style="margin-top:0px;padding-left:16px;padding-right:20px;">
						</a>
					</div>
				
				
	



	

<div class="repository">
		<a href="javascript:void(0);" class="repository-show-menu" ng-click="repository.open = !repository.open" ng-class="{'is-active' : repository.open}">
			<i class="icon-repository repository-show-menu-icon"></i>
			<span>Menu</span> 
		</a> <!-- Show menu in mobile and tablet -->
		<div class="repository-scroll" jq-fade="!repository.open" ng-class="{ 'is-open': repository.open }">
			<div class="content">
				<ul class="repository-menu">
					<li class="repository-menu-item"><a class="repository-menu-link" href="/tit/en/about-us.html">About Us<span class="repository-menu-link-icon"></span></a></li><li class="repository-menu-item"><a class="repository-menu-link" href="/tit/en/investors.html">Investors<span class="repository-menu-link-icon"></span></a></li><li class="repository-menu-item"><a class="repository-menu-link" href="/tit/en/sustainability.html">Sustainability<span class="repository-menu-link-icon"></span></a></li><li class="repository-menu-item is-active"><a class="repository-menu-link" href="/tit/en/press.html">Press<span class="repository-menu-link-icon"></span></a><ul class="repository-submenu repository-submenu-level1">
<li class="repository-submenu-item is-active"
><a class="repository-submenu-link" href="/tit/en/press/press-releases-notes.html" title="Press Releases">Press Releases<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
<ul class="repository-submenu repository-submenu-level1">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/media-tools.html" title="Media Tools">Media Tools<span  class="repository-submenu-link-icon"></span></a><ul class="repository-submenu repository-submenu-level2">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/media-tools/Institutional-Videos.html" title="Institutional Videos">Institutional Videos<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
<ul class="repository-submenu repository-submenu-level2">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/media-tools/Presentations.html" title="Presentations">Presentations<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
<ul class="repository-submenu repository-submenu-level2">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/media-tools/Infographics.html" title="Infographics">Infographics<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
<ul class="repository-submenu repository-submenu-level2">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/media-tools/managers.html" title="Management photos">Management photos<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
<ul class="repository-submenu repository-submenu-level2">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/media-tools/Photos.html" title="Photos">Photos<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
<ul class="repository-submenu repository-submenu-level2">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/media-tools/logos.html" title="Logos">Logos<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
<ul class="repository-submenu repository-submenu-level2">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/media-tools/Group-contacts.html" title="Group contacts">Group contacts<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>

</li>
</ul>
<ul class="repository-submenu repository-submenu-level1">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/contacts.html" title="Institutional Communications, Sustainability Projects & Sponsorship contacts">Institutional Communications, Sustainability Projects & Sponsorship contacts<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
<ul class="repository-submenu repository-submenu-level1">
<li class="repository-submenu-item"
><a class="repository-submenu-link" href="/tit/en/press/press-conference.html" title="Press Conference">Press Conference<span  class="repository-submenu-link-icon"></span></a>
</li>
</ul>
</li><li class="repository-menu-item"><a class="repository-menu-link" href="/tit/en/career.html">Career<span class="repository-menu-link-icon"></span></a></li>
				</ul>
			</div>
		</div>
</div>

	<div class="utility">
		<div class="header-social">
			<ul class="header-stacked-btns">
				<li class="header-social-item facebook"><a class="header-social-btn social-icon-facebook" href="https://www.facebook.com/TimOfficialPage" target="_blank"><i class="icon icon-facebook"></i></a></li>
				<li class="header-social-item twitter"><a class="header-social-btn social-icon-twitter" href="https://twitter.com/TIM_Official" target="_blank"><i class="icon icon-twitter"></i></a></li>
				<li class="header-social-item more">
					<a class="header-social-btn" ng-click="social.open = !social.open" ng-class="{ 'is-active': social.open }" href="">
						<span class="header-social-mobile-label">Social</span>
						<i class="icon icon-social-more header-social-more-icon"></i>
					</a>
					<ul class="header-social-more" jq-fade="!social.open">
						<li class="header-social-more-item facebook"><a href="https://www.facebook.com/TimOfficialPage" target="_blank"><i class="social-icon-facebook"></i>Facebook</a></li>
						<li class="header-social-more-item twitter"><a href="https://twitter.com/TIM_Official" target="_blank"><i class="social-icon-twitter"></i>Twitter</a></li>
						<li class="header-social-more-item linkedin"><a href="http://www.linkedin.com/company/telecom-italia" target="_blank"><i class="social-icon-linkedin"></i>Linkedin</a></li>
						<li class="header-social-more-item instagram"><a href="https://www.instagram.com/timofficial/" target="_blank"><i class="social-icon-instagram"></i>Instagram</a></li>
						<!-- <li class="header-social-more-item googleplus"><a href="https://plus.google.com/+TIM" target="_blank"><i class="social-icon-googleplus"></i>Google+</a></li> -->
						<li class="header-social-more-item pinterest"><a href="https://it.pinterest.com/timofficial/" target="_blank"><i class="social-icon-pinterest"></i>Pinterest</a></li>
						<li class="header-social-more-item youtube"><a href="https://www.youtube.com/user/TimChannel" target="_blank"><i class="social-icon-youtube"></i>Youtube</a></li>
						<li class="header-social-more-item slideshare"><a href="http://www.slideshare.net/telecomitaliacorporate" target="_blank"><i class="social-icon-slideshare"></i>Slideshare</a></li>				
						<li class="header-social-more-item flickr"><a href="http://www.flickr.com/photos/telecomitalia/" target="_blank"><i class="social-icon-flickr"></i>Flickr</a></li>						
					</ul>
				</li>
			</ul>
		</div> <!-- .header-social -->

		<div class="utility-lang">
			<a href="/tit/it/stampa/press-releases-notes-new.html">IT</a>
		</div>
		<div class="utility-search">
			<a toggle-search="" prevent-default="" href="#"><i class="icon icon-search"></i></a>
		</div>
	</div> <!-- .utility -->

	
		<div class="searchBox searchbox">

<input type="hidden" name="urlAutocomplete" id="urlAutocomplete" value="https://cogitoweb.telecomitalia.it/CogitoSmartSearch/AutoCompleteServlet">




		<form class="form-search" method="GET" action="/tit/en/cogito.html">
			<input type="hidden" name="pn" value="1">
			<input type="hidden" name="_charset_" value="UTF-8"/>
			<input type="hidden" name="ps" value="10">
			<input type="hidden" name="l" value="ENG">
			<input type="hidden" name="corpusname" value="telecom">
			<input autocomplete="off" type="text" name="q" accesskey="s" placeholder="Search" class="ui-autocomplete-input form-search-query"/>
			<input type="submit" class="form-search-submit" value="Search" onclick="_gaq.push(['_trackEvent','SearchBoxHead','search-btn','']);" />
		</form>






</div>

	

</header> <!-- .l-site-header -->
		   	</div>
		    



<div class="l-main-container">
	<div class="l-main-wrapper">

		<div id="hub-subnav-container"
			class="l-main-container-element l-hub-subnav should-slide-no-transition"
			ti-class="{ 'is-open': hub.subnav.open }">
			<aside
				class="l-hub-subnav-content main-subnav hub-subnav {{hub.subnav.theme}}"
				ti-include="hub.subnav.contentUrlFactory()"
				inhibit-inclusion="hub.subnav.inhibitInclusion()">
				<!-- Content loaded via angular -->
			</aside>
		</div>
		<!-- #hub-subnav-container.l-main-subnav -->

		<!-- MENU GENERALISTA -->
		
		<div id="hub-nav-container"
			class="l-hub-nav l-main-container-element should-slide">
			<div class="pressarchivepage page">


	<div class="l-hub-nav-content">
		<nav class="hub-nav">
			<ul class="hub-nav-menu">
			
			<li  ng-class="{ 'is-active': hub.nav.isActiveFor('home') }">
					<a href="/tit/en.html" target="_self" class="hub-nav-menu-button t-red"><span>Home</span></a>
				</li>

			 <li  ng-class="{ 'is-active': hub.nav.isActiveFor('innovazione') }">
			 <button class="hub-nav-menu-toggle t-violet is-inactive" ng-class="{ 'is-inactive': hub.subnav.open }" ng-click="hub.subnav.open=!hub.subnav.open"></button>
			      <a class="hub-nav-menu-button t-violet " href="/tit/en/innovazione.html"><span>Living Innovation</span></a>
			</li>
			
			 <li  ng-class="{ 'is-active': hub.nav.isActiveFor('ambiente-sociale') }">
			 <button class="hub-nav-menu-toggle t-green is-inactive" ng-class="{ 'is-inactive': hub.subnav.open }" ng-click="hub.subnav.open=!hub.subnav.open"></button>
			      <a class="hub-nav-menu-button t-green " href="/tit/en/ambiente-sociale.html"><span>Choosing a Better Future</span></a>
			</li>
			
			 <li  ng-class="{ 'is-active': hub.nav.isActiveFor('cultura') }">
			 <button class="hub-nav-menu-toggle t-brown is-inactive" ng-class="{ 'is-inactive': hub.subnav.open }" ng-click="hub.subnav.open=!hub.subnav.open"></button>
			      <a class="hub-nav-menu-button t-brown " href="/tit/en/cultura.html"><span>Sharing Culture</span></a>
			</li>
			
		
			</ul>
		</nav>
	</div>
</div>

		</div>
		<!-- FINE MENU GENERALISTA -->
		<!-- MENU REPOSITORY -->
		<div id="repository-subnav-container"
			class="l-repository-subnav l-main-container-element"
			ng-init="repository.subnav.open = true;">
			<aside class="l-repository-subnav-content main-subnav repository-subnav">
				<header>
					<h4 class="title">Press</h4>
				</header>
				<div class="content">
					<div class="nano scrollable">
						<div class="content">
							<ul class="main-subnav-link-list">
								<li><a href="/tit/en/press/press-releases-notes.html">Press Releases</a></li><li><a href="/tit/en/press/media-tools.html">Media Tools</a></li><li><a href="/tit/en/press/contacts.html">Institutional Communications, Sustainability Projects & Sponsorship contacts</a></li><li><a href="/tit/en/press/press-conference.html">Press Conference</a></li>
							</ul>
						</div>
					</div>
				</div>
				

			</aside>
		</div>
		<!-- FINE MENU REPOSITORY -->
		<div class="l-main-container-element fill">
			<div id="article-content" class="l-article-content">
				<article>
					<div class="archivio_comunicatistampa openclose comunicato-stampa">
						<!-- Start Form -->
						<div class="form searchform">


<h1>Press Releases</h1>
<p class="yourSearchText">
	<b></b>
</p>

<div class="submenu close">
	
		<h2>New Search</h2>
	</div>
	<!-- Archivio container -->
	<div id="archivio-container">
		
		<div class="hide_show_me" style="display: none">
			
				<div id="ricerca" class="elastico paddingBottom">

					<!-- <a href="#" class="estendi" title="Estendi il periodo di ricerca">&laquo; Estendi il periodo di ricerca</a> -->

					<form method="GET" action="#" name="ricerca-estendi">
						<div class="fields periodo elastico">
							<a id="inline" href="#errormessage"></a>
							<div style="display: none">
								<div id="errormessage">
									<h3></h3>
									<p></p>
								</div>
							</div>

							<span class="label">SEARCH interval</span>
							<fieldset>
								<div class="handle_from">
									<label id="label_handle_from" for="slider_from">from:</label>
									<select name="slider_from" id="slider_from"></select>
								</div>
								
								<div class="handle_to">
									<label id="label_handle_to" for="slider_to">to:</label>
									<select name="slider_to" id="slider_to"></select>
								</div>
								
								<div class="clearfix"></div>
							</fieldset>
						</div>

						<div class="fields testuale">
							<span class="label">Text SEARCH</span>
							<div>
								<input id="q" type="text" name="q" class="ricerca-testuale"
									value="" />
							</div>
						</div>

						<div class="fields documenti">
							<span class="label">DOCUMENT type</span>
							<div>
								<input type="checkbox" id="pr" name="pr" checked="checked" /> <label
									for="pr">Press Releases</label>
							</div>
							
							<div>
								<input type="checkbox" id="nr" name="nr" checked="checked" /> <label
									for="nr">Press Notes</label>
							</div>
						</div>

						<!-- Campi nascosti usati per uniformare il formato delle date in querystring -->
						<input id="from" type="hidden" name="from" value="" /> <input
							id="to" type="hidden" name="to" value="" /> <input type="hidden"
							name="_charset_" value="UTF-8" />
						<button id="search" class="en" type="submit">START NEW SEARCH</button>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- end hide_show_me -->
		</div>
		<!-- end archivio container -->
		</div>

						<!-- End Form -->
						
						<!-- Start Results -->
						<div class="ti-general-tabbed ui-general-tabs">
							
							
							<ul class="ti-general-tabNavLinks ui-general-tabs-nav">
								
								<li class='selected'><a id="all" href="/tit/en/press/press-releases-notes-new.pag.html?">All</a></li>
								
								
								<li ><a id="ticorporate" href="/tit/en/press/press-releases-notes-new.html?cat=ticorporate">Telecom Italia Corporate</a></li>
								
								
								<li ><a id="timarket" href="/tit/en/press/press-releases-notes-new.html?cat=timarket">Telecom Italia market</a></li>
								
								
								<li ><a id="INWIT" href="/tit/en/press/press-releases-notes-new.html?cat=INWIT">INWIT</a></li>
								
								
								<li ><a id="olivetti" href="/tit/en/press/press-releases-notes-new.html?cat=olivetti">Olivetti</a></li>
								
								
								<li ><a id="sparkle" href="/tit/en/press/press-releases-notes-new.html?cat=sparkle">Sparkle</a></li>
								
							</ul>
							


<div id="ti-press-results">
	
		
			
			<div class="block ">
				<h4>
					<strong>INWIT</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/23/2020 - 08:30 PM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/inwit/2020/CS-INWIT-RATING-ITA-DEF.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','INWIT: FITCH RATINGS ASSIGNS LONG-TERM FOREIGN CURRENCY ISSUER DEFAULT RATING AND SENIOR UNSECURED RATING OF BBB- WITH STABLE OUTLOOK. STANDARD AND POOR’S ASSIGNS BB+ LONG-TERM ISSUER CREDIT RATING WITH STABLE OUTLOOK ']);">INWIT: FITCH RATINGS ASSIGNS LONG-TERM FOREIGN CURRENCY ISSUER DEFAULT RATING AND SENIOR UNSECURED RATING OF BBB- WITH STABLE OUTLOOK. STANDARD AND POOR’S ASSIGNS BB+ LONG-TERM ISSUER CREDIT RATING WITH STABLE OUTLOOK </a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>INWIT</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/23/2020 - 08:30 PM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/inwit/2020/CS-CDA-ITA-DEF1.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','INWIT: CORPORATE GOVERNANCE RULES DEFINED AND BOARD COMMITTEES APPOINTED']);">INWIT: CORPORATE GOVERNANCE RULES DEFINED AND BOARD COMMITTEES APPOINTED</a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>TI CORPORATE</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/23/2020 - 06:30 PM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/telecom-italia/corporate/istituzionale/2020/CS-Assemblea-TIM-2020-ITA.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','TIM’S SHAREHOLDERS MEETING']);">TIM’S SHAREHOLDERS MEETING</a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>TI CORPORATE</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/23/2020 - 08:00 AM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/telecom-italia/corporate/istituzionale/2020/09-23-04-2020-Tim-pricing-vendita-AZO-Inwit-Kramer-III.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','TIM successfully places 41.7 million INWIT shares']);">TIM successfully places 41.7 million INWIT shares</a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>TI CORPORATE</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/22/2020 - 05:50 PM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/telecom-italia/corporate/istituzionale/2020/CS-vendita-AZO-Inwit-ita.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','Proposed offering of up to 8% of existing share capital of INWIT by Vodafone and TIM ']);">Proposed offering of up to 8% of existing share capital of INWIT by Vodafone and TIM </a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>TI CORPORATE</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/09/2020 - 04:45 PM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/telecom-italia/corporate/istituzionale/2020/CS-TIM-ORD-Maestriditalia.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','Operation Digital Risorgimento continues with 'Maestri d'Italia', online classes to support education and spread digital culture']);">Operation Digital Risorgimento continues with 'Maestri d'Italia', online classes to support education and spread digital culture</a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>TI CORPORATE</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/08/2020 - 11:50 AM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/telecom-italia/corporate/istituzionale/2020/CS-TIM-GSuite-ISP-08-04-2020.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','TIM and Google Cloud develop remote working tool package with Intesa Sanpaolo to help Italian companies']);">TIM and Google Cloud develop remote working tool package with Intesa Sanpaolo to help Italian companies</a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>INWIT</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/06/2020 - 06:30 PM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/inwit/2020/CS-ASSEMBLEA-06042020-DEF.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','INWIT: ORDINARY SHAREHOLDERS' MEETING APPROVES 2019 FINANCIAL STATEMENTS AND RESOLVES TO DISTRIBUTE A DIVIDEND FOR 2019 OF 0.132 EUROS PER SHARE']);">INWIT: ORDINARY SHAREHOLDERS' MEETING APPROVES 2019 FINANCIAL STATEMENTS AND RESOLVES TO DISTRIBUTE A DIVIDEND FOR 2019 OF 0.132 EUROS PER SHARE</a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>TI CORPORATE</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/06/2020 - 06:20 PM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/telecom-italia/corporate/istituzionale/2020/CS-TIM-nomina-Carlo-DAsaro-Biondo.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','TIM: Carlo D’Asaro Biondo joins the Group to support the CEO with development of the TIM Cloud Project and the partnership with Google']);">TIM: Carlo D’Asaro Biondo joins the Group to support the CEO with development of the TIM Cloud Project and the partnership with Google</a>
				</p>
			</div>
			
			<div class="block ">
				<h4>
					<strong>TI CORPORATE</strong>
					<!-- <span>Press Release</span> -->
					
				</h4>
				<p>
					<strong>04/02/2020 - 03:00 PM</strong> <a href="/tit/en/archivio/media/comunicati-stampa/telecom-italia/corporate/istituzionale/2020/CS-TIM-Infratel-aree-bianche.html" onclick="_gaq.push(['_trackEvent','PressArchive','internal-link','TIM and Infratel Italia accelerate fibre switch-on plan in " white areas>TIM and Infratel Italia accelerate fibre switch-on plan in "white areas"</a>
				</p>
			</div>
			
			
				
				<!-- Paginatore -->
				<div class="page-counter-search">
					<ul style="align: center;">
						
						
						<li id="pag-selected"><span>1</span></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=2">2</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=3">3</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=4">4</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=5">5</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=6">6</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=7">7</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=8">8</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=9">9</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=10">10</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=11">11</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=12">12</a></li>
						
						<li><a href="/tit/en/press/press-releases-notes-new.html?page=13">13</a></li>
						
						
							<li id="pag-next"><a href="/tit/en/press/press-releases-notes-new.html?page=2">&nbsp;</a></li>
						
					</ul>
				</div>
				<!-- //Paginatore -->
			
		
		
	
</div>


							
						</div>
						<!-- End Results -->

						<div class="clearfix"></div>
					</div>
					<!-- end archivio_comunicatistampa -->
				</article>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
		</div> <!-- content-height -->
		




<div class="footerToolbar globalfooter">

<div class="l-footer">
	<div class="l-footer-cell left">
		<a class="footer-products-and-services" href="/tit/en/vendorshub.html" title="Vendors Hub">Vendors Hub</a>
		
	</div>
	<div class="l-footer-cell center">
		<ul class="footer-menu">
		
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/footer/mobile.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Mobile']);">Mobile</a></li>
							
						
					
				

				
				
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/footer/sitemap.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Sitemap']);">Sitemap</a></li>
							
						
					
				

				
				
				
				
					
					    
							
							
								<li><a href="/tit/en/footer/Privacy.html" rel="nofollow" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Privacy']);">Privacy</a></li>
							
						
					
					
				

				
				
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/footer/Note-legali.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Legal Notes']);">Legal Notes</a></li>
							
						
					
				

				
				
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/footer/Website-Info.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Website Info and Accessibility']);">Website Info and Accessibility</a></li>
							
						
					
				

				
				
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/footer/form-abuse.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Child Protection']);">Child Protection</a></li>
							
						
					
				

				
				
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/footer/rss-feed.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','RSS Feeds']);">RSS Feeds</a></li>
							
						
					
				

				
				
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/footer/glossary.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Glossary']);">Glossary</a></li>
							
						
					
				

				
				
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/career/candidature-CV.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Work with us']);">Work with us</a></li>
							
						
					
				

				
				
				
				
					
					
					     
							
							
								<li ><a href="/tit/en/footer/responsible-disclosure.html" accesskey="" onclick="_gaq.push(['_trackEvent','Footer','internal-link','Responsible Disclosure']);">Responsible Disclosure</a></li>
							
						
					
				

				
				

		</ul>
    </div>
	<div class="l-footer-cell right">
		<p>©2016 Telecom Italia VAT Number: 00488410010</p>
	</div>
</div>

<div class="ti-eu-cookie-compliant cookie-popup is-top"
	 data-cookie="cookie-agreed" >
	<div class="cookie-popup__text"><p>This website uses third-party analytics cookies to collect aggregate information on the number of users and how they visit this site. If you need more information or wish to refuse the consent to some or all cookies please click <a href="/tit/en/footer/Privacy.html">here</a>. By closing this banner or accessing any of the underlying content you are expressing your consent to the use of cookies.
</p></div>
	<div class="cookie-popup__button"><span class="icon">x</span></div>
</div>
</div>

		


	</div> <!-- root-wrapper -->
</div> <!-- root -->
    
	<!-- Javascripts -->
	<script src="/etc/designs/ti-rwd/cmn/v4/js/app/bootstrap.js"></script>


   
</body>
</html>
   
