<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    {% extends '../layout.html' %}
    {% block content %}

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modalXPath" aria-labelledby="myLargeModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg">
              <div class="modal-content">


                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Selected XPaths : </h5>
                  <small><div id="selectedBoxes"></div></small>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <iframe id="inlineFrameExample"
                      title="Inline Frame Example"
                       width="700" height="800"
                      src="http://127.0.0.1:9999/">
                  </iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" id="saveXPathToDb" class="btn btn-info" id="saveSpider" data-dismiss="modal">Select</button>

                </div>
  
            </div>
          </div>

        </div>



    <div class="starter-template-fluid">
          <script src="{{ static_url('jquery.min.js') }}"></script>
          <br>
          <h3>Edit source : {{ line['Name'] }}</h3>
          <small class="form-text text-muted"><p>Edit your keywords</p></small><br>
    </div>

      <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/website-edit" method="post">
        <div class="form-group">
          <label for="inputName" id="inputName">Source Name</label>
          <input type="hidden" class="form-control" name="inputNameOld" value="{{ line['Name'] }}">
          <input type="text" class="form-control" name="inputName" aria-describedby="inputNameHelp" value="{{ line['Name'] }}">
          <small class="form-text text-muted">Name of the source to monitor.</small>
        </div>
        <div class="form-group">
          <label for="inputWebsite" id="inputWebsite">Domain URL</label>
          <input type="text" class="form-control" name="inputWebsite" value="{{ line['Website'] }}" readonly>
          <small class="form-text text-muted">If you want to change the domain, you better add source directly rather than modifying existing one.</small>
        </div>
        <div class="form-group">
          <label for="inputTarget" id="inputTarget">Target URL</label>
          <input type="hidden" class="form-control" name="inputTargetOld" value="{{ line['target'] }}">
          <input type="text" class="form-control" name="inputTarget" aria-describedby="inputTargetHelp" value="{{ line['target'] }}">
          <small class="form-text text-muted">Enter the full URL of the source to monitor.</small>
        </div>

          <div id="bagOfWordsContainer">
            <label for="inputKeywords" id="inputKeywordTitle">Keywords</label>
            <input type="hidden" class="form-control" name="inputKeywordsOld" value="{{ json_encode(line['target_label']) }}">
            <ul id="inputKeywords">
                {% for label in line['target_label'] %}
                <li>{{ label }}</li>
                {% end %}
            </ul>
            <small class="form-text text-muted">Enter as many Keywords as relevant. Type "&lsaquo;MIX&rsaquo;" to use all Keywords already used in this watchlist</small>
          </div>




          



          




          <div class="form-group" style="margin-top:1rem;">
            <label for="inputXPath" id="inputXPath">Xpath <span class="badge badge-warning">Beta</span></label>
            <input type="hidden" class="form-control" name="inputXPathOld" value="{{ line['xpath'] }}">
            <input type="text" class="form-control" name="inputXPathNew" id="inputPathToUpdate" value="{{ line['xpath'] }}" readonly>
            <small class="form-text text-muted">Select relevant parts of the page (xpath) with our tool <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target=".bd-example-modal-lg">here</button>.</small>
          </div>

          <div id="bagOfMailsContainer" class="mt-2">
            <label for="inputMailingList" id="inputTarget">Email Recipients</label>
            <input type="hidden" class="form-control" name="inputMailingListOld" value="{{ json_encode(line['mailing_list']) }}">
            <ul id="inputMailingList">
                {% for label in line['mailing_list'] %}
                <li>{{ label }}</li>
                {% end %}
            </ul>
            <small class="form-text text-muted">Email of people who will receive alerts for this source. (separate with ';' if more than one)</small>
          </div>

        <button type="submit" class="btn btn-info mt-2">Update Changes</button>
        <a href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/websites-manage" class="btn btn-danger mt-2">Cancel</a>
      </form>
      <br>
{% end %}
</html>
{% block script %}
<script src="{{ static_url('jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url('jquery-ui.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url('custom/tagit/tag-it.js') }}" type="text/javascript" charset="utf-8"></script>
<!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css"> -->
<link href="{{ static_url('custom/tagit/jquery.tagit.css') }}" type="text/css" rel="stylesheet">
<link href="{{ static_url('custom/tagit/tagit.ui-zendesk.css') }}" type="text/css" rel="stylesheet">
<script>

// let frame = document.getElementById("inlineFrameExample");
// frame.contentWindow.postMessage('totoo', 'http://127.0.0.1:5567');
window.addEventListener("message", receiveMessage, false);

function receiveMessage(event) {
  if (event.origin !== "http://127.0.0.1:9999")
    return;

  // console.log('message received : ' + event.data);
  data = JSON.parse(event.data);
  // console.log('DATA = ' + data);
  let goods = Array();
  for (let [key, value] of Object.entries(data)) {
    //console.log(`${key}: ${value}`);
    //console.log('loop');
    if (value == true)
    {
      goods.push(key);
    }
  }
  document.getElementById('selectedBoxes').innerHTML = goods;
}

  $(document).ready(function() {
    $("#inputKeywords").tagit({
    fieldName: "inputKeywords"
    //caseSensitive: false
    //tagLimit
    });
    $("#inputMailingList").tagit({
    fieldName: "inputMailingList"
    //caseSensitive: false
    //tagLimit
    });

    // $('body *').bind('mouseover mouseout', function(event) {
    //     if (event.type == 'mouseover') {
    //         $(this).data('bgcolor', $(this).css('background-color'));
    //         $(this).css('background-color','rgba(255,0,0,.5)');
    //     } else {
    //         $(this).css('background-color', $(this).data('bgcolor'));
    //     }
    //     return false;
    // });

  });
      $('#saveXPathToDb').on('click', function() {
      console.log('User selected XPath = ' + $('#selectedBoxes').text());
       $('#inputPathToUpdate').attr('value', $('#selectedBoxes').text());
      // $().hide();
      // $('#modalXPath').remove();
      $('#modalXPath').hide();
      $('.modal-backdrop').remove();
      $('body').removeClass( "modal-open" );
      $('#modalXPath').removeClass('modal-open');
      console.log('RESULT ==' + $('#modalXPath').attr('display').val());
      // $('#inlineFrameExample').attr( 'src', function ( i, val ) { return val; });
    });
</script>
{% end %}
