<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    {% extends '../layout.html' %}
    {% block content %}
    <div class="starter-template-fluid">
          <script src="{{ static_url('jquery.min.js') }}"></script>
          <center><h3>Edit source : {{ line['Name'] }}</h3></center>
          <center><p class="lead">Edit your keywords</p><br></center>
    </div><br>

      <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/website-edit" method="post">
        <div class="form-group">
          <label for="inputName" id="inputName">Source Name</label>
          <input type="text" class="form-control" name="inputName" aria-describedby="inputNameHelp" value="{{ line['Name'] }}">
          <small class="form-text text-muted">Name of the website to monitor.</small>
        </div>
        {% if 'is_simplified' in handler.session and handler.session['is_simplified'] is False %}
        <div class="form-group">
          <label for="inputWebsite" id="inputWebsite">Domain URL</label>
          <input type="text" class="form-control" name="inputWebsite" value="{{ line['Website'] }}" readonly>
          <small class="form-text text-muted">If you want to change the domain, you better add website directly rather than modifying existing one.</small>
        </div>
	      {% else %}
          <input type="hidden" class="form-control" name="inputWebsite" value="{{ line['Website'] }}" readonly>
        {% end %}
        <div class="form-group">
          <label for="inputTarget" id="inputTarget">Target URL</label>
          <input type="text" class="form-control" name="inputTarget" aria-describedby="inputTargetHelp" value="{{ line['target'] }}">
          <small class="form-text text-muted">Enter the full URL of the page to monitor.</small>
        </div>

          <div id="bagOfWordsContainer">
            <label for="inputKeywords" id="inputTarget">Keywords</label>
            <ul id="inputKeywords">
                {% for label in line['target_label'] %}
                <li>{{ label }}</li>
                {% end %}
            </ul>
            <small class="form-text text-muted">Enter as many Keywords as relevant. Type "&lsaquo;MIX&rsaquo;" to use all Keywords already used in this watchlist</small>
          </div>

          <div id="bagOfMailsContainer" class="mt-2">
            <label for="inputMailingList" id="inputTarget">Email Recipients</label>
            <ul id="inputMailingList">
                {% for label in line['mailing_list'] %}
                <li>{{ label }}</li>
                {% end %}
            </ul>
            <small class="form-text text-muted">Email of people who will receive alerts for this source.</small>
          </div>

        <button type="submit" class="btn btn-info mt-2">Update Changes</button>
        <a href="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/websites-manage" class="btn btn-danger mt-2">Cancel</a>
      </form>
      <br>
{% end %}
</html>
{% block script %}
<script src="{{ static_url('jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url('jquery-ui.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url('custom/tagit/tag-it.js') }}" type="text/javascript" charset="utf-8"></script>
<!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css"> -->
<link href="{{ static_url('custom/tagit/jquery.tagit.css') }}" type="text/css" rel="stylesheet">
<link href="{{ static_url('custom/tagit/tagit.ui-zendesk.css') }}" type="text/css" rel="stylesheet">
<script>
  $(document).ready(function() {
    $("#inputKeywords").tagit({
    fieldName: "inputKeywords"
    //caseSensitive: false
    //tagLimit
    });
    $("#inputMailingList").tagit({
    fieldName: "inputMailingList"
    //caseSensitive: false
    //tagLimit
    });
  });
</script>
{% end %}
