<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    {% extends '../layout.html' %}
    {% block content %}
    <div class="starter-template-fluid">
          <center><h3>Unit: {{ escape(url) }}</h3></center>
          <center><p class="lead">Use this page to view changes on unit</p><br></center>
          {% if handler.session['tasks'] != {} %}
          <center><button class="btn btn-outline-dark" onclick="start_download_task()">Background Task</button></center>
          {% else %}
          <center><b> Downlodaing task already in progress </b></center>
          {% end %}    
    </div><br>
    <!-- script inspired and modified from https://blog.miguelgrinberg.com/post/using-celery-with-flask //-->
    <div id="progress"></div>
    <div id="infos"></div>

        {% if handler.session['tasks'] != {} %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            function update_progress(status_url, div_bar, div_info) {
                // send GET request to status URL
                $.getJSON(status_url, function(data) {
                    // update UI
                    percent = parseInt(data['current'] * 100 / data['total']);
                    // writing percentages
                    $(div_bar.childNodes[0]).text(percent + '%');
                    // making loading bar moving
                    document.getElementById("pct").style.width = percent + '%';
                    document.getElementById("state").innerHTML = data['state'];
                    document.getElementById("current").innerHTML = data['current'];
                    document.getElementById("total").innerHTML = data['total'];
                    if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                        if ('result' in data) {
                            // show result
                            document.getElementById("status").innerHTML = data['result'];
                        }
                        else {
                            // something unexpected happened
                            document.getElementById("status").innerHTML = data['result'];
                        }
                    }
                    else {
                        // rerun in 1 seconds
                        setTimeout(function() {
                            update_progress(status_url, div_bar, div_info);
                        }, 1000);
                    }
                });
            }
            function start_download_task() {
                // add task status elements
                div_bar = $('<div class="progress"><div class="progress-bar" id="pct" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div></div><hr>');

                div_info = $('<div id="state"></div><div id="current"></div><div id="total">...</div><div id="status"></div>');

                $('#progress').append(div_bar);
                $('#infos').append(div_info);
                // send ajax POST request to start background job
                $.ajax({
                    type: 'POST',
                    url: '/api/v1/users/{{ handler.session['username'] }}/tasks/create',
                    success: function(data, status, request) {
                        status_url = request.getResponseHeader('Location');
                        update_progress(status_url, div_bar[0], div_info[0]);
                    },
                    error: function() {
                        alert('Unexpected error');
                    }
                });
            }
        </script>
        {% else %}
        <script>
        if (document.getElementById('current') == null) {
        // add task status elements
        div_bar = $('<div class="progress"><div class="progress-bar" id="pct" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div></div><hr>');

        div_info = $('<div id="state"></div><div id="current"></div><div id="total">...</div><div id="status"></div>');

        $('#progress').append(div_bar);
        $('#infos').append(div_info);
        }
        update_progress("/api/v1/users/{{ handler.session['username'] }}/tasks/status/{{ list(handler.session['tasks'])[0] }}", div_bar, div_info)
        function update_progress(status_url, div_bar, div_info) {
                // send GET request to status URL
                $.getJSON(status_url, function(data) {
                    // update UI
                    percent = parseInt(data['current'] * 100 / data['total']);
                    // writing percentages
                    $(div_bar.childNodes[0]).text(percent + '%');
                    // making loading bar moving
                    document.getElementById("pct").style.width = percent + '%';
                    document.getElementById("state").innerHTML = data['state'];
                    document.getElementById("current").innerHTML = data['current'];
                    document.getElementById("total").innerHTML = data['total'];
                    if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                        if ('result' in data) {
                            // show result
                            document.getElementById("status").innerHTML = data['result'];
                        }
                        else {
                            // something unexpected happened
                            document.getElementById("status").innerHTML = data['result'];
                        }
                    }
                    else {
                        // rerun in 1 seconds
                        setTimeout(function() {
                            update_progress(status_url, div_bar, div_info);
                        }, 1000);
                    }
                });
            }

        </script>
        {% end %}
    {% end %}
</html>