{% extends '../../layout.html' %}
{% block content %}
<div class="starter-template-fluid">
  <script src="{{ static_url('jquery.min.js') }}"></script>
  <br>
  <center><h3>Project {{ handler.session['current_project'] }} - Setup and launch alerts on content changes</h3></center>
  <center><p>Below is a list of alerts you already configured. At the moment, only live alerts are available<br>
  Click on Create Alert to configure a new alert. Use Content Lookup to remember what the content name refers to.<br>
  Push Start button in order to launch live alert.</p><br></center>

  <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/alerts/create" method="post">
  <p>
  <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#createalert" aria-expanded="false" aria-controls="createalert">
    Create alert
  </button>
  <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#contentlookup" aria-expanded="false" aria-controls="contentlookup">
    Content lookup
  </button>
  </p>
  <div class="collapse" id="createalert">
    <div class="card card-body">
      <div class="form-row">

          <div class="form-group col-md-4">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" name="inputName">
          </div>

          <div class="form-group col-md-4">
            <label for="inputContent">Content</label>
            <select id="inputContent" class="form-control" name="inputContent">
              {% for json_content in contents %}
              <option>{{ escape(str(json_content['name'])) }}({{ escape(str(len(json_content['links']))) }} links)</option>
              {% end %}
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="inputType">Type</label>
            <select id="inputType" class="form-control" name="inputType">
              <option value="Live" selected>Live</option>
              <option value="Deffered">Deffered</option>
            </select>
          </div>

          <div class="form-group col-md-4" id="ContinuousTracking">

              <label for="inputStartTime">Start time</label>
                <input class="form-control" type="datetime-local" value="" id="inputStartTime" name="inputStartTime"/>


              <label for="inputRepeat">Repeat</label>
              <select id="inputRepeat" class="form-control" name="inputRepeat">
                <option value="hour" selected>hour</option>
                <option value="day">day</option>
                <option value="month">month</option>
                <option value="year">year</option>
              </select>

          </div>

      </div>

      <div class="form-group">
        <div class="form-check">
          
          <label class="form-check-label" for="gridCheck">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck">
            notify new files available
          </label>
        </div>
      </div>

      <div class="col-sm-0">
      <button type="submit" class="btn btn-info">Create</button>
    </div>
    </div>
  </div>
  <div class="collapse" id="contentlookup">
    <div class="card card-body">
      {% for content in contents %}
        <details>
        <summary>{{ escape(str(content['name'])) }}</summary>
        {% for link, keywords in content['links'].items() %}
          {% if len(keywords) > 1 %}
            {{ escape(str(link)) }} : <font color='red'>{{ str(keywords[0]) }} ... {{ str(keywords[-1]) }}</font>
          {% else %}
            {{ escape(str(link)) }} : <font color='red'>{{ str(keywords[0]) }}</font>
          {% end %}
          </br>
        {% end %}
        </details>
      {% end %}
    </div>
  </div>
  </form>
  <br>
  <table class="table table-responsive-sm table-striped">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Creation Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Repeat</th>
      <th>Email notify</th>
      <th>Launched ?</th>
      <th>Content Name</th>
      <th>Save in Log</th>
      <th>Action</th>
      <th></th>
    </tr>
      {% for alert in alerts %}
    <tr>

          <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alerts/live/create/{{ escape(alert['id']) }}" method="post" class="form-horizontal">
          <div class="form-group">

          {% for k, v in alert.items() %}
            {% if k != 'id'%}
              <input type="hidden" name="{{ str(k) }}" value="{{ str(v) }}">
              <th>{{ str(v) }}</th>
            {% end %}

          {% end %}


            <th>
            
              <div class="form-check">
                  <input class="form-check-input" style="transform: scale(1.5);" type="checkbox" id="saveLogChecked{{ escape(alert['id']) }}" name="saveLogChecked{{ escape(alert['id']) }}">
              </div>
            </div>
            </th>
            <th>
              <button type="submit" class="btn btn-info" value="{{ escape(alert['content_id']) }}" name="contentName">Start</button></input></form>
            </th>
            <th>
              <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alerts/delete" method="post">
                <input type="hidden" value="{{ alert['content_id'] }}" name="contentName">
              <button type="submit" class="btn btn-danger" value="{{ alert['name'] }}" name="alertName">Delete</button></form>
            </th>
    </tr>
    {% end %}
  </table>
</div>
<script>
  $(document).ready(function() {
    console.log('Loading action on deffered ...');
    $('#ContinuousTracking').hide();
    $('#inputType').on('change', function() {
      if (this.value == 'Deffered') {
        console.log('Show !!');
        $('#ContinuousTracking').show();
      }
      if (this.value == 'Live') {
        console.log('Hide !!');
        $('#ContinuousTracking').hide();
      }
    });
  });
</script>
{% end %}
