{% extends '../../layout.html' %}
{% block content %}
<div class="starter-template-fluid">
  <script src="{{ static_url('jquery.min.js') }}"></script>
  <br>
  <center><h3>Project {{ handler.session['current_project'] }} - Setup and launch alerts on content changes</h3></center>
  <center><p>Below is a list of alerts you already configured. <br>
  Click on Create Alert to configure a new alert. Use Content Lookup to remember what the content name refers to.<br>
  Push Start button in order to launch alert.</p><br></center>

  <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/alerts/create" method="post">
  <p>
  <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#createalert" aria-expanded="false" aria-controls="createalert">
    Create alert
  </button>
  <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#contentlookup" aria-expanded="false" aria-controls="contentlookup">
    Content lookup
  </button>
  </p>
  <div class="collapse" id="createalert">
    <div class="card card-body">
      <div class="form-row">

          <div class="form-group col-md-4">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" name="inputName" required>
          </div>

          <div class="form-group col-md-4">
            <label for="inputContent">Content</label>
            <select id="inputContent" class="form-control" name="inputContent">
              {% for json_content in contents %}
              <option>{{ escape(str(json_content['name'])) }}({{ escape(str(len(json_content['links']))) }} links)</option>
              {% end %}
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="inputType">Type</label>
            <select id="inputType" class="form-control" name="inputType">
              <option value="Live" selected>Live</option>
              <option value="BasicReccurent">Basic Reccurent</option>
              <option value="CrontabSchedule">Crontab schedule</option>
            </select>
          </div>

          <div class="form-group col-md-4" id="BasicReccurent">
            <div class="card card-body border-info">

              <label for="inputStartTime">Start time</label>
              <input class="form-control" type="datetime-local" value="" name="inputStartTime" id="inputStartTime">

              <label for="inputEvery">Every</label>
              <div class="row">
                <div class="col-md-4">
                  <input class="form-control" type="text" value="3" name="inputEvery"/ required>
                </div>

                <div class="col-md-4">
                  <select id="inputRepeat" class="form-control" name="inputRepeat">
                    <option value="SECONDLY" selected>second</option>
                    <option value="MINUTELY">minute</option>
                    <option value="HOURLY">hour</option>
                    <option value="DAILY">day</option>
                    <option value="WEEKLY">week</option>
                    <option value="MONTHLY">month</option>
                    <option value="YEARLY">year</option>
                  </select>
                </div>

              </div>
              <label for="inputMaxCount">Max count</label>
              <div class="row">
                <div class="col-md-4">
                  <input class="form-control" type="text" value="5" name="inputMaxCount"/ required>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-md-12" id="CrontabSchedule">
            <div class="card card-body border-info">

              <div class="row">
                <div class="col-md-2">
                  <label for="inputRepeatTime">Time of repeat (/!\ UTC /!\)</label>
                  <input class="form-control" type="time" value="15:00" name="inputRepeatTime"/>
                </div>

                <div class="col-md-6">
                  
                  <div class="row">
                    <label>Days of the week</label>
                  </div>

                  <div class="row">
                    
                    <div class="form-check-inline">

                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="1" name="crontabDay1">Monday
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="2" name="crontabDay2">Tuesday
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="3" name="crontabDay3">Wednesday
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="4" name="crontabDay4">Thursday
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="5" name="crontabDay5">Friday
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="6" name="crontabDay6">Saturday
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="0" name="crontabDay0">Sunday
                      </label>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>

      </div>

      <div class="form-group">
        <div class="form-check">
          
          <label class="form-check-label" for="gridCheck">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck">
            Send email
          </label>
        </div>
      </div>

      <div class="col-sm-0">
      <button type="submit" class="btn btn-info">Create</button>
    </div>
    </div>
  </div>
  <div class="collapse" id="contentlookup">
    <div class="card card-body">
      {% for content in contents %}

        <details>
        <summary>{{ escape(str(content['name'])) }}</summary>
        {% for link, keywords in content['links'].items() %}
          {% if len(keywords) > 1 %}
            {{ escape(str(link)) }} : <font color='red'>{{ str(keywords[0]) }} ... {{ str(keywords[-1]) }}</font>
          {% else %}
            {{ escape(str(link)) }} : <font color='red'>{{ str(keywords[0]) }}</font>
          {% end %}
          </br>
        {% end %}
        </details>
      {% end %}
    </div>
  </div>
  </form>
  
  <table class="table table-responsive-sm table-striped">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Creation</th>
      <th>Start</th>
      <th>End</th>
      <th>Schedule</th>
      <th>Email notify</th>
      <th>Launched</th>
      <th>Content Name</th>
      <th>Notify Mail</th>
      <th>Action</th>
      <th></th>
      <th></th>
      <th>Worker state</th>
    </tr>

    {% for alert in alerts %}
    <tr>

      <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alerts/live/create/{{ escape(alert['id']) }}" method="post" class="form-horizontal">
      <div class="form-group">

        <th>{{ alert['name'] }}</th>
        <th>{{ alert['alert_type'] }}</th>
        <th>{{ alert['creation_date'] }}</th>
        <th>{{ alert['start_time'] }}</th>
        <th>{{ alert['end_time'] }}</th>

        {% if alert['alert_type'] == 'Live' %}
          <th>-</th>
        {% elif alert['alert_type'] == 'BasicReccurent' %}
          <th>Every {{ alert['interval'] }} {{ alert['repeat'][:4] }} (max={{ alert['max_count'] }})</th>
        {% elif alert['alert_type'] == 'CrontabSchedule' %}
          <th>Days:{{ alert['days_of_week'] }} at {{ alert['repeat_at'] }}</th>
        {% end %}

        <th>{{ alert['email_notify'] }}</th>
        <th>{{ alert['launched'] }}</th>
        <th>{{ alert['content_id'] }}</th>

        <th>
          <div class="form-check">
              <input class="form-check-input" style="transform: scale(1.5);" type="checkbox" id="saveLogChecked{{ escape(alert['id']) }}" name="saveLogChecked{{ escape(alert['id']) }}">
          </div>
        </div>
        </th>

        <th>
          {% if escape(alert['launched']) == 'False' %}
          <input type="hidden" value="{{ alert['alert_type'] }}" name="alertType">
          <input type="hidden" value="{{ alert['name'] }}" name="alertName">
          <button type="submit" class="btn btn-info" value="{{ escape(alert['content_id']) }}" name="contentName">Start</button></input></form>
          {% else %}
          <button type="button" class="btn btn-info disabled" value="{{ escape(alert['content_id']) }}" name="contentName">Start</button></input></form>
          {% end %}
        </th>

        <th>
          {% if alert['launched'] == 'True' %}
          <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alert/stop" method="post">
            <input type="hidden" value="{{ alert['alert_type'] }}" name="alertType">
            <input type="hidden" value="{{ escape(alert['content_id']) }}" name="contentName">
          <button type="submit" class="btn btn-info" value="{{ alert['name'] }}" name="alertName">Stop</button></form>
          {% else %}
          <form action="#" method="post">
            <input type="hidden" value="{{ alert['content_id'] }}" name="contentName">
          <button type="button" class="btn btn-info disabled" value="{{ alert['name'] }}" name="alertName">Stop</button></form>
          {% end %}
        </th>

        <th>
          <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alerts/delete" method="post">
            <input type="hidden" value="{{ alert['content_id'] }}" name="contentName">
          <button type="submit" class="btn btn-danger" value="{{ alert['name'] }}" name="alertName">Delete</button></form>
        </th>

        <th>
        {% if alert['state'] == 'Lost' %}
          <span class="badge badge-warning">LOST</span>
        {% elif alert['state'] == 'Ready' %}
          <span class="badge badge-info">READY</span>
        {% elif alert['state'] == 'Problem' %}
          <span class="badge badge-danger">PROBLEM</span>
        {% elif alert['state'] == 'Active' %}
          <span class="badge badge-dark">ACTIVE</span>
        {% end %}
        </th>

    </tr>
    {% end %}
    
  </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="{{ static_url('custom/utils.js') }}"></script>
<script>
  $(document).ready(function() {
    // 2019-09-03T08:52
    //"MM ddd, YYYY hh:mm:ss a"
    $('#inputStartTime').val(getCurrentDate("YYYY-MM-DDThh:mm", 30));
    $('#BasicReccurent').hide();
    $('#CrontabSchedule').hide();
    $('#inputType').on('change', function() {
      if (this.value == 'BasicReccurent') {
        $('#CrontabSchedule').hide();
        $('#BasicReccurent').show();
      }
      if (this.value == 'CrontabSchedule') {
        $('#BasicReccurent').hide();
        $('#CrontabSchedule').show();
      }
      if (this.value == 'Live') {
        $('#CrontabSchedule').hide();
        $('#BasicReccurent').hide();
      }
    });
  });
</script>
{% end %}
