{% extends '../../layout.html' %}
{% block content %}
<style>
a {
    color: #6c757d;
}
</style>
<div class="starter-template-fluid">
      <br />
      <h3>Live alert</h3>
      
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myLargeModalLabel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" id="myLargeModalLabelContent">
            
          </div>
        </div>
      </div>

      <br>
        <div class="progress" name="liveViewProgress">
          <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" id="pct" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>

        

          {% if 'live_view' in handler.session['tasks'] %}
            <div class="row">
              <div class="col-lg-10">
                <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/send_report" method="post" class="form-inline">

                  <input type="text" class="form-control mt-2" placeholder="Email" name="email">
                  <input type="hidden" name="fromPage" value="live_view">


                  <button type="submit" class="btn btn-info ml-1 mr-2 mt-2">Send report</button></input>
                
                Remaining tasks:&nbsp;<font color="red"><div id="numberOfPendingTasks">{{ len(handler.session['tasks']['live_view']) }}</div></font>/{{ len(handler.session['tasks']['live_view']) }} (<font color="red"><div id="numberOfFailedTasks" onclick="showFailedTasksDetails()">0</div></font>&nbsp;failed)
                </form>
              </div>
              
              
              

            </div>
            <div class="row">
              <div class="col mt-1">

                <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/alerts/live/update" method="post" class="form-horizontal" style="display: inline;">

                    <input type="hidden", name="fromPage" value="live_view">
                    <button type="submit" class="btn btn-info btn-sm">Download updated pages</button></input>

                </form>


                <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alert/stop" method="POST" style="display: inline;">
                  <input type="hidden" value="{{ handler.session['current_live_view_content'] }}" name="contentName">
                  <input type="hidden" value="{{ handler.session['current_live_view_alert'] }}" name="alertName">
                  <!-- TODO: Change route with alert stop //-->
                  <button type="submit" class="btn btn-danger btn-sm">Stop Live View task</button></input>
                </form>
              </div>
            </div>

            <br>
            <b>Errors:</b>
            <div id="errors"></div>

          {% else %}
            <br><br><center><p class="lead">Launch a live alert and monitor it from here.</p></center>
          {% end %}


        

        

      {% if 'live_view' in handler.session['tasks'] %}
        {% for tasks in handler.session['tasks']['live_view']  %}
          <!-- <center><p class="lead" id="currentState{{ escape(str(tasks['id'])) }}"></p></center> -->
          <!-- <center><p class="lead" id="currentCheck{{ escape(str(tasks['id'])) }}"></p></center> -->
          <div id="changedContent{{ escape(str(tasks['id'])) }}"></div>
        {% end %}
      {% end %}
</div>
<script>
var counterDone = 0;
var counterDoneMaster = 0;
var counterFailureMaster = 0;
var failures = Array();
var failuresURL = Array();
{% if 'live_view' in handler.session['tasks'] %}
var totalTaskNb = {{ len(handler.session['tasks']['live_view']) }};
{% else %}
var totalTaskNb = 0;
{% end %}
var counterRemaining = totalTaskNb;

var ws = new WebSocket(location.origin.replace(/^http/, 'ws') + "/websocket");
function timeout() {
    setTimeout(function () {
        ws.onopen();
        timeout();
        counterDone = 0;
    }, 3000);
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

function getRandomArbitrary(min, max) {
  return Math.random() * (max - min) + min;
}

ws.onopen = function() {
  {% if 'live_view' in handler.session['tasks'] %}
    {% for tasks in handler.session['tasks']['live_view'] %}
        ws.send('{{ escape(str(tasks['id'])) }}');
    {% end %}
  {% end %}
};

function escapeHtml(unsafe) {
	// function taken from : https://stackoverflow.com/questions/6234773/can-i-escape-html-special-chars-in-javascript
	return unsafe.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
}

function formatDiff(title, diff, nearest_link, all_links, type) {
  var i;
  var diffs = '';
  for (i = 0; i < diff.length; i++) {
      diffs += diff[i] + "<br>";
  }
  var firstPart = 
  "<div class='card border-" + type + " mb-3'>\
              <div class='card-header bg-transparent border-" + type + " text-" + type + "'><b>" + title + "</b></div>\
              <div class='card-body text-" + type + "'>\
                <p class='card-text'>" + diffs + "</p></div>\
              <div class='card-footer bg-transparent border-" + type + "'>";
  var lastPart = 
  "</div>\
  </div>";

  var middlePart = '';
  if (all_links != null && all_links != undefined) {
    if (all_links.length > 10) {
      middlePart = '-> too many links'
    }
    else {
      for (i = 0; i < all_links.length; i++) {
        middlePart += "<a href='" + all_links[i] + "' target='_blank' style='color: rgb(0,0,0)'/>" + all_links[i] + "</a><br>";
      }
    }
    for (i = 0; i < nearest_link.length; i++) {
      if (middlePart.includes(nearest_link[i]) == false) {
        middlePart = "<a href='" + nearest_link[i] + "' target='_blank' style='color: rgb(0,0,0)'/>" + nearest_link[i] + "</a><br>" + middlePart;
      }
    }
  }
  
  var fullDiff = firstPart + middlePart + lastPart;
  return fullDiff;
}

ws.onmessage = function (evt) {
   if (evt != null) {
       var data = JSON.parse(evt.data);

       //console.log(data.state);
       // logging errors from http requests

       console.log(data.status['errors']);
       if (data.state == 'SUCCESS' && !document.getElementById('err-' + data.task_id)) {
        //console.log(data.status['errors']);
        var newError = document.createElement("DIV");
        newError.setAttribute("id", 'err-' + data.task_id);
        var errorLog = '';
        var i;
        console.log('entered !');
        for (var p in data.status['errors']) {
          if (data.status['errors'].hasOwnProperty(p)) {
            errorLog += '<small>';
            errorLog += '<a href="' + p + '" target="_blank">' + p + '</a>';
            errorLog += '&nbsp;<font color="red">(' + escapeHtml(data.status['errors'][p]) + ')</font></small>';
          }
        }
        // for (i = -1; i++; i <= data.status['errors'].length) {
        //   errorLog += '<small>';
        //   errorLog += '<a href="' + Object.keys(data.status['errors'][i]) + '" target="_blank">' + Object.keys(data.status['errors'][i]) + '</a>';
        //   errorLog += '&nbsp;<font color="red">(' + escapeHtml(Object.values(data.status['errors'][i]).toString()) + ')</font></small>';
        // }
        newError.innerHTML = errorLog;
        document.getElementById('errors').appendChild(newError);
        // $('#errors').appendChild
       }
       if (data.state == 'SUCCESS') {
          counterDone += 1;
       }
       if (data.state == 'FAILURE' && !failures.includes(data.current)) {
          failures.push(data.current);
          // urlFailed = {
          //   "url" : data.status.url,
          //   "info" : data.info
          // }
          urlFailed = {
            // "state" : data.state,
            // "status" : data.status,
            "obj": JSON.stringify(data)
          }
          failuresURL.push(urlFailed);
          counterFailureMaster += 1;
          $('#numberOfFailedTasks').html(counterFailureMaster);
          // document.getElementById('numberOfFailedTasks').
       }

       if ((data.status.diff_pos != null && data.status.diff_pos != undefined && data.status.diff_pos.length > 0) || (data.status.diff_neg != null && data.status.diff_neg != undefined && data.status.diff_neg.length > 0)) {
          if (!document.getElementById(data.status.div)) {
            var title = document.createElement("H5");
            title.innerHTML = data.status.div;
            document.getElementById('changedContent' + data.task_id).append(title);
            var title = document.createElement("DIV");
            title.setAttribute("id", data.status.div);
            document.getElementById('changedContent' + data.task_id).appendChild(title);
            document.getElementById('changedContent' + data.task_id).insertAdjacentHTML('beforebegin', '<br><hr>');
            document.getElementById('changedContent' + data.task_id).insertAdjacentHTML('beforeend', '<hr>');
          }
          if (data.state == 'SUCCESS' && document.getElementById(data.status.div) && !document.getElementById(data.current.toString() + data.task_id)) {

            document.getElementById(data.status.div).insertAdjacentHTML('beforeend', "<h6><a href=" + data.status.url + " target='_blank'/>" + data.status.url + "</a></h6>");
            var ulTitle = document.createElement("div");
            ulTitle.setAttribute("id", data.current.toString() + data.task_id);
            document.getElementById(data.status.div).append(ulTitle);

            var div_pos = formatDiff("Added Content", data.status.diff_pos, data.status.nearest_link_pos, data.status.all_links_pos, 'success');
            var div_neg = formatDiff("Deleted Content", data.status.diff_neg, data.status.nearest_link_neg, data.status.all_links_neg, 'danger');

            if (data.status.diff_pos.length != 0) {
              document.getElementById(data.current.toString() + data.task_id).insertAdjacentHTML('beforeend', div_pos);
            }
            if (data.status.diff_neg.length != 0) {
            document.getElementById(data.current.toString() + data.task_id).insertAdjacentHTML('beforeend', div_neg);                
            }
          }
       }
       if (counterDone > counterDoneMaster) {
        counterDoneMaster = counterDone;
        counterRemaining = totalTaskNb - counterDoneMaster;
        $('#numberOfPendingTasks').html(counterRemaining - counterFailureMaster);
        updateProgressBar('#liveViewProgress', ((counterDoneMaster+counterFailureMaster)/totalTaskNb)*100);
        //console.log('counter remaining = ' + counterRemaining + ' counter done = ' + counterDoneMaster);
       }
     }
 else {
  console.log('[ERROR] Nothing to consume from websocket.');
 }
};
timeout();
function updateProgressBar(divId, percent) {
  // if (percent <= 100) {
    //console.log('percent -> ' + percent);
    $(divId).text(percent + '%');
    document.getElementById("pct").style.width = percent + '%';
    document.getElementById("pct").innerHTML = Math.round(percent) + '%';
  // }
}

function showFailedTasksDetails() {
  //console.log('failed details clicked  !');
  $('#myLargeModalLabelContent').empty();
  for (i = 0; i < failuresURL.length; i++) {
    console.log(failuresURL[i]);
    $('#myLargeModalLabelContent').append('['+failuresURL[i].state +'] ' + JSON.stringify(failuresURL[i]) + ':' +  failuresURL[i].status + '<br>');
    //console.log(failuresURL[i]);
  }
  if (failuresURL.length > 0) {
    $('#myLargeModalLabel').modal('show');
  }
}
</script>
{% end %}
{% block script %}
<script>
  $('button').click(function(){
     $('<div class="loading">Loading&#8230;</div>').prependTo(document.body);
  });
</script>
{% end %}
