{% extends '../../layout.html' %}
{% block content %}
<style>
a {
    color: #6c757d;
}
</style>
<script src="{{ static_url('jquery.min.js') }}"></script>
<div class="starter-template-fluid">
      <br />
      <h3>Live {% if 'live_view' in handler.session['tasks'] %}<span class="badge badge-pill badge-dark">{{ handler.session['tasks']['live_view'][0]['template_type'] }}</span> alert{% end %}</h3>
      
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myLargeModalLabel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" id="myLargeModalLabelContent">
            
          </div>
        </div>
      </div>

      <br>
        <div class="progress" name="liveViewProgress">
          <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" id="pct" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>

        

          {% if 'live_view' in handler.session['tasks'] %}
          <div class="form-inline">
            <div class="row">

              <div class="form-group ml-3">
              <!-- <div class="col"> -->
                <!-- <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/send_report" method="post" class="form-inline mt-2"> -->
                  <input type="text" class="form-control form-control-sm mt-2" placeholder="Email" id="email" name="email">
                  <input type="hidden" name="fromPage" value="live_view">
                  <!-- <div id="limitErrors" name="limitErrors"></div> -->
                  <button onclick="sendReport()" class="btn btn-info btn-sm ml-1 mt-2">Send report</button></input>
                </form>

                <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/alerts/live/update" method="post" class="form-inline mt-2">
                  <input type="hidden", name="fromPage" value="live_view">
                  <button type="submit" class="btn btn-info btn-sm ml-1" id="updatePages">Update</button></input>
                </form>

                <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alert/stop" method="post" class="form-inline mt-2">
                  <input type="hidden" value="{{ handler.session['current_live_view_content'] }}" name="contentName">
                  <input type="hidden" value="{{ handler.session['current_live_view_alert'] }}" name="alertName">
                  <button type="submit" class="btn btn-danger btn-sm ml-1">Stop</button></input>
                </form>

                <form action="" class="form-inline ml-2 mt-2">
                  <p>
                  <label for="exampleFormControlTextarea1"><div id="numberOfPendingTasks">{{ len(handler.session['tasks']['live_view']) }}</div>/{{ len(handler.session['tasks']['live_view']) }} (<font color="red"><div id="numberOfFailedTasks" onclick="showFailedTasksDetails()">0</div></font>&nbsp;failed)</label>
                  </p>
                  
                </form>

              </div>

              
              <!-- <div class="form-group mb-2 mt-2"> -->

                

              <!-- </div> -->

              <!-- <div class="col"> -->
  <!--               <div  class="ml-1 mr-2 float-right"> -->
                  
              <!-- </div> -->
            <!-- </div> -->
              </div>
              </div>
              <!-- </div> -->
<!--               <div class="row">
                <div class="col mt-1">

                  <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/alerts/live/update" method="post" class="form-horizontal" style="display: inline;">

                      <input type="hidden", name="fromPage" value="live_view">
                      <button type="submit" class="btn btn-info btn-sm">Update</button></input>

                  </form>


                  <form action="/api/v1/users/{{ handler.session['username'] }}/projects/{{ escape(handler.session['current_project']) }}/alert/stop" method="POST" style="display: inline;">
                    <input type="hidden" value="{{ handler.session['current_live_view_content'] }}" name="contentName">
                    <input type="hidden" value="{{ handler.session['current_live_view_alert'] }}" name="alertName">

                    <button type="submit" class="btn btn-danger btn-sm">Stop</button></input>
                  </form>
                </div> //-->
              </div>

              <div class="mt-2">
                <div id="errors"></div>
              </div>
          {% else %}
              <br><br><center><p class="lead">Launch a live alert and monitor it from here.</p></center>
          {% end %}


        

        

      {% if 'live_view' in handler.session['tasks'] %}
        {% for tasks in handler.session['tasks']['live_view']  %}
          <!-- <center><p class="lead" id="currentState{{ escape(str(tasks['id'])) }}"></p></center> -->
          <!-- <center><p class="lead" id="currentCheck{{ escape(str(tasks['id'])) }}"></p></center> -->
          <div id="changedContent{{ escape(str(tasks['id'])) }}"></div>
        {% end %}
      {% end %}
</div>
<script>



var counterFailureMaster = 0;
var counterPending = 0
var limitErrors = {};
var failures = Array();
var failuresURL = Array();
{% if 'live_view' in handler.session['tasks'] %}
var totalTaskNb = {{ len(handler.session['tasks']['live_view']) }};
var liveTasks = {% raw handler.session['tasks']['live_view'] %};
{% else %}
var totalTaskNb = 0;
{% end %}
var counterRemaining = totalTaskNb;
var ws = new WebSocket(location.origin.replace(/^http/, 'ws') + "/websocket");
var executed = 0;
var remainingTaskNb = 0;


function sendReport() {
  // console.log('limit errors         kk');
  // console.log(JSON.parse(limitErrors));
  emails = $('#email').val();
  $.ajax({
        type: 'POST',
        url: '/api/v1/users/{{ handler.session['username'] }}/projects/{{ handler.session['current_project'] }}/send_report',
        data: {
          'email': emails,
          'fromPage': 'live_view',
          'limitErrors' : JSON.stringify(limitErrors)
        },
        success: function(data, status, request) {
            // create task

            // console.log('send mail OK');
            $('<div class="alert alert-success py-0" role="alert">Just sent alert report to : ' + emails + '</div>').prependTo('#flashMessage');
            
        },
        error: function() {
            console.log('Unexpected error');
        }
    });
}

function timeout() {
    remainingTaskNb = totalTaskNb - executed;
    $('#numberOfPendingTasks').html(remainingTaskNb);
    updateProgressBar('#liveViewProgress', (executed/totalTaskNb)*100);
    executed = 0;
    remainingTaskNb = 0;
    counterPending = 0;
    setTimeout(function () {
        ws.onopen();
        timeout();
    }, 3000);
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

function getRandomArbitrary(min, max) {
  return Math.random() * (max - min) + min;
}

function isEncoded(uri) {
  uri = uri || '';

  return uri !== decodeURIComponent(uri);
}

function GetFilename(url)
{
   var uri = url.split('/').pop();
   if (isEncoded(uri)) {
      uri = decodeURI(uri);
   }
   if (uri == '' && url.endsWith('/') == true) {
      var splitted = url.split('/');
      uri = splitted[splitted.length - 2];
   }
   // console.log(uri + ' is encoded: ' + isEncoded(uri));
   return uri
}

ws.onopen = function() {
  {% if 'live_view' in handler.session['tasks'] %}
    {% for tasks in handler.session['tasks']['live_view'] %}
        ws.send('{{ escape(str(tasks['id'])) }}');
    {% end %}
  {% end %}
};

function escapeHtml(unsafe) {
	// function taken from : https://stackoverflow.com/questions/6234773/can-i-escape-html-special-chars-in-javascript
	return unsafe.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
}

function formatDiff(title, diff, nearest_link, sbb_links, all_links, type) {
  var i;
  var diffs = '';
  for (i = 0; i < diff.length; i++) {
      if (nearest_link[diff[i]] != undefined) {
        diffs += "<a href='" + nearest_link[diff[i]] + "' target='_blank' style='color: rgb(0,0,0)'/>" + diff[i] + "</a>" + "<br>";
      }
      else {
        diffs += diff[i] + "<br>";
      }
      
  }

  var firstPart = 
  "<div class='card border-" + type + " mb-3'>\
              <div class='card-header bg-transparent border-" + type + " text-" + type + "'><b>" + title + "</b></div>\
              <div class='card-body'>\
                <p class='card-text'>" + diffs + "</p></div>";
              // <div class='card-footer bg-transparent border-" + type + "'>";

  var middlePart = "";
  var fn = '';

  // console.log(sbb_links);
  middlePart += "<div class='card-group'>"

  {% if 'live_view' in handler.session['tasks'] and handler.session['tasks']['live_view'][0]['template_type'] == 'share buy back' %}
    middlePart += "<div class='card'><div class='card-body'>\
      <h5 class='card-title'>SBB links</h5>"
  
  // console.log(all_links);
  for (i = 0; i < sbb_links.length; i++) {
      
      fn = GetFilename(sbb_links[i]);
      middlePart +="<li class='square'><a href='" + sbb_links[i] + "' target='_blank' style='color: rgb(0,0,0)'/>" + fn + "</a></li>";
  }

  middlePart += "</div>\
  </div>";
  {% end %}

  {% if 'live_view' in handler.session['tasks'] and handler.session['tasks']['live_view'][0]['template_type'] == 'diff with keywords' %}
  middlePart += "<div class='card'>\
    <div class='card-body'>\
      <h5 class='card-title'>Nearest links</h5>";

  for (var property in nearest_link) {
    if (nearest_link.hasOwnProperty(property)) {
      middlePart += "<li class='square'><a href='" + nearest_link[property] + "' target='_blank' style='color: rgb(0,0,0)'/>" + GetFilename(nearest_link[property]) + "</a></li>";
    }
  }
  middlePart += "</div>\
  </div>"
  {% end %}
  
  middlePart += "<div class='card'>\
    <div class='card-body'>\
      <h5 class='card-title'>All links</h5>"

  if ((all_links.length < 5) && (all_links != null && all_links != undefined)) {
    for (i = 0; i < all_links.length; i++) {
        middlePart += "<li class='square'><a href='" + all_links[i] + "' target='_blank' style='color: rgb(0,0,0)'/>" + GetFilename(all_links[i]) + "</a></li>";
    }
  }
  else {
    middlePart += '-> too many links</div></div>';
  }
  
  middlePart += "</div>\
  </div>"

  var lastPart = 
  "</div>\
  </div>";
  
  var fullDiff = firstPart + middlePart + lastPart;
  return fullDiff;
}

function getUrlFromTaskId(task_id) {
  // console.log(liveTasks.length);
  var u;
  for (u = 0; u < liveTasks.length; u++) {
    // console.log(liveTasks[u]);
    if (liveTasks[u]['id'] == task_id) {
      return liveTasks[u];
    }
  }
}


ws.onmessage = function (evt) {
   if (evt != null) {
    var elt = document.getElementById('errors');
          // console.log(elt.childNodes.length);
          if (elt.childNodes.length == 0) {
            var errorHeader = document.createElement("DIV");
            errorHeader.innerHTML = "<b>Info:</b>";
            document.getElementById('errors').appendChild(errorHeader);

          }
      // console.log(JSON.parse(evt.data).state.errors);
       // console.log(evt.data);
       if (evt.data.includes('<LIMIT_STOP>') && evt.data.includes('#')) {
        var jsonMeta = evt.data.split('#')[1];
        var currentUrl = getUrlFromTaskId(jsonMeta)['url'];
        // if (!document.getElementById('limitErrors').includes(currentUrl)) {
        //  document.getElementById('limitErrors').push(currentUrl);
        // }
        // console.log('LIMIT STOP = > ' + getUrlFromTaskId(jsonMeta)['url']);
        // getUrlFromTaskId();
        //document.write('{{ handler.session['tasks']['live_view'] }}');


        if (!document.getElementById('err-' + jsonMeta)) {
          console.log('pass here');
          var c = getUrlFromTaskId(jsonMeta)['url'];
          // console.log(c);
          // var objErr = { c: 'SoftTimeLimitExceeded()II'};
          limitErrors[c] = 'HardTimeLimitExceeded()';
          // console.log(limitErrors);

          // var hiddenInput = document.createElement('input');

          // hiddenInput.type = 'hidden';
          // hiddenInput.name = 'myarray[]';
          // hiddenInput.value = currentUrl;

          // document.getElementById('limitErrors').appendChild(hiddenInput);

          var newError = document.createElement("DIV");
          newError.setAttribute("id", 'err-' + jsonMeta);
          var errorLog = '';

              errorLog += '<small>';
              errorLog += '<a href="' + currentUrl + '" target="_blank">' + currentUrl + '</a>';
              errorLog += '&nbsp;<font color="red">(HardTimeLimitExceeded())</font></small>';


          newError.innerHTML = errorLog;
          document.getElementById('errors').appendChild(newError);
        }
        // console.log('LIMIT_STOP');
        // console.log(jsonMeta);
        
        // console.log(evt);
        executed += 1

       }
       else {


         var data = JSON.parse(evt.data);
         // console.log(data);
         if (data.state == 'SUCCESS' && !document.getElementById('err-' + data.task_id)) {
          // console.log('err === ' );

          var newError = document.createElement("DIV");
          newError.setAttribute("id", 'err-' + data.task_id);
          var errorLog = '';
          for (var p in data.status['errors']) {
            if (data.status['errors'].hasOwnProperty(p)) {
              errorLog += '<small>';
              errorLog += '<a href="' + p + '" target="_blank">' + p + '</a>';
              errorLog += '&nbsp;<font color="red">(' + escapeHtml(data.status['errors'][p]) + ')</font></small>';
            }
          }
          newError.innerHTML = errorLog;
          // var elt = document.getElementById('errors');
          // if (elt.childNodes.length == 0) {
          //   errorLog = "<b>Info:</b>" + errorLog;
          // }
          document.getElementById('errors').appendChild(newError);
         }

         // if (data.state == 'SUCCESS') {
          // if (data.status == '')
            // nc += 1;

            // console.log('SUCCESS :' + data.current + data.url);
            
         // }
         // if (data.state == 'PENDING') {
          // console.log('PENDING :');
          // console.log(data);
         // }
         if (data.state == 'FAILURE' && !failures.includes(data.current)) {
          // console.log('Fail');
          // console.log(data.status['errors']);
            failures.push(data.current);
            // console.log('FAILURE :' + data.current);
            // urlFailed = {
            //   "url" : data.status.url,
            //   "info" : data.info
            // }

            urlFailed = {
              // "state" : data.state,
              // "status" : data.status,
              "obj": JSON.stringify(data)
            }
            failuresURL.push(urlFailed);
            counterFailureMaster += 1;
            $('#numberOfFailedTasks').html(counterFailureMaster);
         }

         // if (data.state != 'SUCCESS' && data.state != 'PENDING') {
          // console.log('RestE')
         // }
         // if (data != undefined) {
          // console.log(data);
        // }
         // var ojb = Object.hasOwnProperty.call(data, errors)
         // if (ojb != undefined) {
          // console.log(data);
         // }
         
         // if (data.status == undefined) {
         //  console.log('undef');
         //  counterPending += 1;
         //  console.log('pending = ' + counterPending);
         // }
         if ((data.status.diff_pos != null && data.status.diff_pos != undefined && data.status.diff_pos.length > 0) || (data.status.diff_neg != null && data.status.diff_neg != undefined && data.status.diff_neg.length > 0)) {
            if (!document.getElementById(data.status.div)) {
              var title = document.createElement("H5");
              title.innerHTML = data.status.div;
              document.getElementById('changedContent' + data.task_id).append(title);
              var title = document.createElement("DIV");
              title.setAttribute("id", data.status.div);
              document.getElementById('changedContent' + data.task_id).appendChild(title);
              document.getElementById('changedContent' + data.task_id).insertAdjacentHTML('beforebegin', '<br><hr>');
              document.getElementById('changedContent' + data.task_id).insertAdjacentHTML('beforeend', '<hr>');
            }
            if (data.state == 'SUCCESS' && document.getElementById(data.status.div) && !document.getElementById(data.current.toString() + data.task_id)) {

              document.getElementById(data.status.div).insertAdjacentHTML('beforeend', "<h6><a href=" + data.status.url + " target='_blank'/>" + data.status.url + "</a></h6>");
              var ulTitle = document.createElement("div");
              ulTitle.setAttribute("id", data.current.toString() + data.task_id);
              document.getElementById(data.status.div).append(ulTitle);

              var div_pos = formatDiff("Added Content", data.status.diff_pos, data.status.nearest_link_pos, data.status.sbb_links_pos, data.status.all_links_pos, 'success');
              var div_neg = formatDiff("Deleted Content", data.status.diff_neg, data.status.nearest_link_neg, data.status.sbb_links_neg, data.status.all_links_neg, 'danger');

              if (data.status.diff_pos.length != 0) {
                document.getElementById(data.current.toString() + data.task_id).insertAdjacentHTML('beforeend', div_pos);
              }
              if (data.status.diff_neg.length != 0) {
              document.getElementById(data.current.toString() + data.task_id).insertAdjacentHTML('beforeend', div_neg);                
              }
            }
         }

          if (data.state != 'PENDING') {
            executed += 1

          }
       }

       

     }
 else {
  console.log('[ERROR] Nothing to consume from websocket.');
 }
};
timeout();
function updateProgressBar(divId, percent) {
    $(divId).text(percent + '%');
    document.getElementById("pct").style.width = percent + '%';
    document.getElementById("pct").innerHTML = Math.round(percent) + '%';
}

function showFailedTasksDetails() {
  $('#myLargeModalLabelContent').empty();
  for (i = 0; i < failuresURL.length; i++) {
    $('#myLargeModalLabelContent').append('['+failuresURL[i].url +'] ' + JSON.stringify(failuresURL[i]) + ':' +  failuresURL[i].status + '<br>');
  }
  if (failuresURL.length > 0) {
    $('#myLargeModalLabel').modal('show');
  }
}
</script>
{% end %}
{% block script %}
<script>
  $('#updatePages').click(function(){
     $('<div class="loading">Loading&#8230;</div>').prependTo(document.body);     
  });
</script>
{% end %}
